// --------------------------
// Blue Tabs
// --------------------------

.tabs-san-marino > .tabs,
.tabs.tabs-san-marino {
  @include tab-style($sanMarino, $sanMarino-d10, $white);
  @include tab-badge-style($white, $sanMarino);
}

.tabs-alice-blue > .tabs,
.tabs.tabs-alice-blue {
  @include tab-style($aliceBlue, $aliceBlue-d10, $dark);
  @include tab-badge-style($white, $aliceBlue);
}

.tabs-royal-blue > .tabs,
.tabs.tabs-royal-blue {
  @include tab-style($royalBlue, $royalBlue-d10, $white);
  @include tab-badge-style($white, $royalBlue);
}

.tabs-picton-blue > .tabs,
.tabs.tabs-picton-blue {
  @include tab-style($pictonBlue, $pictonBlue-d10, $white);
  @include tab-badge-style($white, $pictonBlue);
}

.tabs-spray > .tabs,
.tabs.tabs-spray {
  @include tab-style($spray, $spray-d10, $white);
  @include tab-badge-style($white, $spray);
}

.tabs-shakespeare > .tabs,
.tabs.tabs-shakespeare {
  @include tab-style($shakespeare, $shakespeare-d10, $white);
  @include tab-badge-style($white, $shakespeare);
}

.tabs-humming-bird > .tabs,
.tabs.tabs-humming-bird {
  @include tab-style($hummingBird, $hummingBird-d10, $dark);
  @include tab-badge-style($white, $hummingBird);
}

.tabs-picton-blue-two > .tabs,
.tabs.tabs-picton-blue-two {
  @include tab-style($pictonBlueTwo, $pictonBlueTwo-d10, $white);
  @include tab-badge-style($white, $pictonBlueTwo);
}

.tabs-curious-blue > .tabs,
.tabs.tabs-curious-blue {
  @include tab-style($curiousBlue, $curiousBlue-d10, $white);
  @include tab-badge-style($white, $curiousBlue);
}

.tabs-madison > .tabs,
.tabs.tabs-madison {
  @include tab-style($madison, $madison-d10, $white);
  @include tab-badge-style($white, $madison);
}

.tabs-dodger-blue > .tabs,
.tabs.tabs-dodger-blue {
  @include tab-style($dodgerBlue, $dodgerBlue-d10, $white);
  @include tab-badge-style($white, $dodgerBlue);
}

.tabs-ming > .tabs,
.tabs.tabs-ming {
  @include tab-style($ming, $ming-d10, $white);
  @include tab-badge-style($white, $ming);
}

.tabs-ebony-clay > .tabs,
.tabs.tabs-ebony-clay {
  @include tab-style($ebonyClay, $ebonyClay-d10, $white);
  @include tab-badge-style($white, $ebonyClay);
}

.tabs-malibu > .tabs,
.tabs.tabs-malibu {
  @include tab-style($malibu, $malibu-d10, $white);
  @include tab-badge-style($white, $malibu);
}

.tabs-summer-sky > .tabs,
.tabs.tabs-summer-sky {
  @include tab-style($summerSky, $summerSky-d10, $white);
  @include tab-badge-style($white, $summerSky);
}

.tabs-chambray > .tabs,
.tabs.tabs-chambray {
  @include tab-style($chambray, $chambray-d10, $white);
  @include tab-badge-style($white, $chambray);
}

.tabs-pickled-bluewood > .tabs,
.tabs.tabs-pickled-bluewood {
  @include tab-style($pickledBluewood, $pickledBluewood-d10, $white);
  @include tab-badge-style($white, $pickledBluewood);
}

.tabs-hoki > .tabs,
.tabs.tabs-hoki {
  @include tab-style($hoki, $hoki-d10, $white);
  @include tab-badge-style($white, $hoki);
}

.tabs-jelly-bean > .tabs,
.tabs.tabs-jelly-bean {
  @include tab-style($jellyBean, $jellyBean-d10, $white);
  @include tab-badge-style($white, $jellyBean);
}

.tabs-jacksons-purple > .tabs,
.tabs.tabs-jacksons-purple {
  @include tab-style($jacksonsPurple, $jacksonsPurple-d10, $white);
  @include tab-badge-style($white, $jacksonsPurple);
}

.tabs-jordy-blue > .tabs,
.tabs.tabs-jordy-blue {
  @include tab-style($jordyBlue, $jordyBlue-d10, $white);
  @include tab-badge-style($white, $jordyBlue);
}

.tabs-steel-blue > .tabs,
.tabs.tabs-steel-blue {
  @include tab-style($steelBlue, $steelBlue-d10, $white);
  @include tab-badge-style($white, $steelBlue);
}

.tabs-fountain-blue > .tabs,
.tabs.tabs-fountain-blue {
  @include tab-style($fountainBlue, $fountainBlue-d10, $white);
  @include tab-badge-style($white, $fountainBlue);
}

.tabs-striped {
  @include tabs-striped('tabs-san-marino', $white, $sanMarino);
  @include tabs-striped-background('tabs-background-san-marino', $sanMarino);
  @include tabs-striped-color('tabs-color-san-marino', $sanMarino);

  @include tabs-striped('tabs-alice-blue', $dark, $aliceBlue);
  @include tabs-striped-background('tabs-background-alice-blue', $aliceBlue);
  @include tabs-striped-color('tabs-color-alice-blue', $aliceBlue);

  @include tabs-striped('tabs-royal-blue', $white, $royalBlue);
  @include tabs-striped-background('tabs-background-royal-blue', $royalBlue);
  @include tabs-striped-color('tabs-color-royal-blue', $royalBlue);

  @include tabs-striped('tabs-picton-blue', $white, $pictonBlue);
  @include tabs-striped-background('tabs-background-picton-blue', $pictonBlue);
  @include tabs-striped-color('tabs-color-picton-blue', $pictonBlue);

  @include tabs-striped('tabs-spray', $white, $spray);
  @include tabs-striped-background('tabs-background-spray', $spray);
  @include tabs-striped-color('tabs-color-spray', $spray);

  @include tabs-striped('tabs-shakespeare', $white, $shakespeare);
  @include tabs-striped-background('tabs-background-shakespeare', $shakespeare);
  @include tabs-striped-color('tabs-color-shakespeare', $shakespeare);

  @include tabs-striped('tabs-humming-bird', $dark, $hummingBird);
  @include tabs-striped-background('tabs-background-humming-bird', $hummingBird);
  @include tabs-striped-color('tabs-color-humming-bird', $hummingBird);

  @include tabs-striped('tabs-picton-blue-two', $white, $pictonBlueTwo);
  @include tabs-striped-background('tabs-background-picton-blue-two', $pictonBlueTwo);
  @include tabs-striped-color('tabs-color-picton-blue-two', $pictonBlueTwo);

  @include tabs-striped('tabs-curious-blue', $white, $curiousBlue);
  @include tabs-striped-background('tabs-background-curious-blue', $curiousBlue);
  @include tabs-striped-color('tabs-color-curious-blue', $curiousBlue);

  @include tabs-striped('tabs-madison', $white, $madison);
  @include tabs-striped-background('tabs-background-madison', $madison);
  @include tabs-striped-color('tabs-color-madison', $madison);

  @include tabs-striped('tabs-dodger-blue', $white, $dodgerBlue);
  @include tabs-striped-background('tabs-background-dodger-blue', $dodgerBlue);
  @include tabs-striped-color('tabs-color-dodger-blue', $dodgerBlue);

  @include tabs-striped('tabs-ming', $white, $ming);
  @include tabs-striped-background('tabs-background-ming', $ming);
  @include tabs-striped-color('tabs-color-ming', $ming);

  @include tabs-striped('tabs-ebony-clay', $white, $ebonyClay);
  @include tabs-striped-background('tabs-background-ebony-clay', $ebonyClay);
  @include tabs-striped-color('tabs-color-ebony-clay', $ebonyClay);

  @include tabs-striped('tabs-malibu', $white, $malibu);
  @include tabs-striped-background('tabs-background-malibu', $malibu);
  @include tabs-striped-color('tabs-color-malibu', $malibu);

  @include tabs-striped('tabs-summer-sky', $white, $summerSky);
  @include tabs-striped-background('tabs-background-summer-sky', $summerSky);
  @include tabs-striped-color('tabs-color-summer-sky', $summerSky);

  @include tabs-striped('tabs-chambray', $white, $chambray);
  @include tabs-striped-background('tabs-background-chambray', $chambray);
  @include tabs-striped-color('tabs-color-chambray', $chambray);

  @include tabs-striped('tabs-pickled-bluewood', $white, $pickledBluewood);
  @include tabs-striped-background('tabs-background-pickled-bluewood', $pickledBluewood);
  @include tabs-striped-color('tabs-color-pickled-bluewood', $pickledBluewood);

  @include tabs-striped('tabs-hoki', $white, $hoki);
  @include tabs-striped-background('tabs-background-hoki', $hoki);
  @include tabs-striped-color('tabs-color-hoki', $hoki);

  @include tabs-striped('tabs-jelly-bean', $white, $jellyBean);
  @include tabs-striped-background('tabs-background-jelly-bean', $jellyBean);
  @include tabs-striped-color('tabs-color-jelly-bean', $jellyBean);

  @include tabs-striped('tabs-jacksons-purple', $white, $jacksonsPurple);
  @include tabs-striped-background('tabs-background-jacksons-purple', $jacksonsPurple);
  @include tabs-striped-color('tabs-color-jacksons-purple', $jacksonsPurple);

  @include tabs-striped('tabs-jordy-blue', $white, $jordyBlue);
  @include tabs-striped-background('tabs-background-jordy-blue', $jordyBlue);
  @include tabs-striped-color('tabs-color-jordy-blue', $jordyBlue);

  @include tabs-striped('tabs-steel-blue', $white, $steelBlue);
  @include tabs-striped-background('tabs-background-steel-blue', $steelBlue);
  @include tabs-striped-color('tabs-color-steel-blue', $steelBlue);

  @include tabs-striped('tabs-fountain-blue', $white, $fountainBlue);
  @include tabs-striped-background('tabs-background-fountain-blue', $fountainBlue);
  @include tabs-striped-color('tabs-color-fountain-blue', $fountainBlue);
}

@include tabs-background('tabs-background-san-marino', $sanMarino, $sanMarino-d10);
@include tabs-color('tabs-color-san-marino', $sanMarino);
@include tabs-background('tabs-background-alice-blue', $aliceBlue, $aliceBlue-d10);
@include tabs-color('tabs-color-alice-blue', $aliceBlue);
@include tabs-background('tabs-background-royal-blue', $royalBlue, $royalBlue-d10);
@include tabs-color('tabs-color-royal-blue', $royalBlue);
@include tabs-background('tabs-background-picton-blue', $pictonBlue, $pictonBlue-d10);
@include tabs-color('tabs-color-picton-blue', $pictonBlue);
@include tabs-background('tabs-background-spray', $spray, $spray-d10);
@include tabs-color('tabs-color-spray', $spray);
@include tabs-background('tabs-background-shakespeare', $shakespeare, $shakespeare-d10);
@include tabs-color('tabs-color-shakespeare', $shakespeare);
@include tabs-background('tabs-background-humming-bird', $hummingBird, $hummingBird-d10);
@include tabs-color('tabs-color-humming-bird', $hummingBird);
@include tabs-background('tabs-background-picton-blue-two', $pictonBlueTwo, $pictonBlueTwo-d10);
@include tabs-color('tabs-color-picton-blue-two', $pictonBlueTwo);
@include tabs-background('tabs-background-curious-blue', $curiousBlue, $curiousBlue-d10);
@include tabs-color('tabs-color-curious-blue', $curiousBlue);
@include tabs-background('tabs-background-madison', $madison, $madison-d10);
@include tabs-color('tabs-color-madison', $madison);
@include tabs-background('tabs-background-dodger-blue', $dodgerBlue, $dodgerBlue-d10);
@include tabs-color('tabs-color-dodger-blue', $dodgerBlue);
@include tabs-background('tabs-background-ming', $ming, $ming-d10);
@include tabs-color('tabs-color-ming', $ming);
@include tabs-background('tabs-background-ebony-clay', $ebonyClay, $ebonyClay-d10);
@include tabs-color('tabs-color-ebony-clay', $ebonyClay);
@include tabs-background('tabs-background-malibu', $malibu, $malibu-d10);
@include tabs-color('tabs-color-malibu', $malibu);
@include tabs-background('tabs-background-summer-sky', $summerSky, $summerSky-d10);
@include tabs-color('tabs-color-summer-sky', $summerSky);
@include tabs-background('tabs-background-chambray', $chambray, $chambray-d10);
@include tabs-color('tabs-color-chambray', $chambray);
@include tabs-background('tabs-background-pickled-bluewood', $pickledBluewood, $pickledBluewood-d10);
@include tabs-color('tabs-color-pickled-bluewood', $pickledBluewood);
@include tabs-background('tabs-background-hoki', $hoki, $hoki-d10);
@include tabs-color('tabs-color-hoki', $hoki);
@include tabs-background('tabs-background-jelly-bean', $jellyBean, $jellyBean-d10);
@include tabs-color('tabs-color-jelly-bean', $jellyBean);
@include tabs-background('tabs-background-jacksons-purple', $jacksonsPurple, $jacksonsPurple-d10);
@include tabs-color('tabs-color-jacksons-purple', $jacksonsPurple);
@include tabs-background('tabs-background-jordy-blue', $jordyBlue, $jordyBlue-d10);
@include tabs-color('tabs-color-jordy-blue', $jordyBlue);
@include tabs-background('tabs-background-steel-blue', $steelBlue, $steelBlue-d10);
@include tabs-color('tabs-color-steel-blue', $steelBlue);
@include tabs-background('tabs-background-fountain-blue', $fountainBlue, $fountainBlue-d10);
  @include tabs-color('tabs-color-fountain-blue', $fountainBlue);

ion-tabs {
  @include tabs-standard-color('tabs-color-active-san-marino', $sanMarino, $white);
  @include tabs-standard-color('tabs-color-active-alice-blue', $aliceBlue, $white);
  @include tabs-standard-color('tabs-color-active-royal-blue', $royalBlue, $dark);
  @include tabs-standard-color('tabs-color-active-picton-blue', $pictonBlue, $dark);
  @include tabs-standard-color('tabs-color-active-spray', $spray, $dark);
  @include tabs-standard-color('tabs-color-active-shakespeare', $shakespeare, $dark);
  @include tabs-standard-color('tabs-color-active-humming-bird', $hummingBird, $white);
  @include tabs-standard-color('tabs-color-active-picton-blue-two', $pictonBlueTwo, $dark);
  @include tabs-standard-color('tabs-color-active-curious-blue', $curiousBlue, $dark);
  @include tabs-standard-color('tabs-color-active-madison', $madison, $dark);
  @include tabs-standard-color('tabs-color-active-dodger-blue', $dodgerBlue, $dark);
  @include tabs-standard-color('tabs-color-active-ming', $ming, $white);
  @include tabs-standard-color('tabs-color-active-ebony-clay', $ebonyClay, $dark);
  @include tabs-standard-color('tabs-color-active-malibu', $malibu, $dark);
  @include tabs-standard-color('tabs-color-active-summer-sky', $summerSky, $dark);
  @include tabs-standard-color('tabs-color-active-chambray', $chambray, $dark);
  @include tabs-standard-color('tabs-color-active-pickled-bluewood', $pickledBluewood, $dark);
  @include tabs-standard-color('tabs-color-active-hoki', $hoki, $dark);
  @include tabs-standard-color('tabs-color-active-jelly-bean', $jellyBean, $dark);
  @include tabs-standard-color('tabs-color-active-jacksons-purple', $jacksonsPurple, $dark);
  @include tabs-standard-color('tabs-color-active-jordy-blue', $jordyBlue, $dark);
  @include tabs-standard-color('tabs-color-active-steel-blue', $steelBlue, $dark);
  @include tabs-standard-color('tabs-color-active-fountain-blue', $fountainBlue, $white);
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
  &.tab-item-san-marino { color: $sanMarino; }
  &.tab-item-alice-blue { color: $aliceBlue; }
  &.tab-item-royal-blue { color: $royalBlue; }
  &.tab-item-picton-blue { color: $pictonBlue; }
  &.tab-item-spray { color: $spray; }
  &.tab-item-shakespeare { color: $shakespeare; }
  &.tab-item-humming-bird { color: $hummingBird; }
  &.tab-item-picton-blue-two { color: $pictonBlueTwo; }
  &.tab-item-curious-blue { color: $curiousBlue; }
  &.tab-item-madison { color: $madison; }
  &.tab-item-dodger-blue { color: $dodgerBlue; }
  &.tab-item-ming { color: $ming; }
  &.tab-item-ebony-clay { color: $ebonyClay; }
  &.tab-item-malibu { color: $malibu; }
  &.tab-item-summer-sky { color: $summerSky; }
  &.tab-item-chambray { color: $chambray; }
  &.tab-item-pickled-bluewood { color: $pickledBluewood; }
  &.tab-item-hoki { color: $hoki; }
  &.tab-item-jelly-bean { color: $jellyBean; }
  &.tab-item-jacksons-purple { color: $jacksonsPurple; }
  &.tab-item-jordy-blue { color: $jordyBlue; }
  &.tab-item-steel-blue { color: $steelBlue; }
  &.tab-item-fountain-blue { color: $fountainBlue; }
}
