// --------------------------
// Gray Tabs
// --------------------------

.tabs-white-smoke > .tabs,
.tabs.tabs-white-smoke {
  @include tab-style($whiteSmoke, $whiteSmoke-d10, $dark);
  @include tab-badge-style($white, $whiteSmoke);
}

.tabs-lynch > .tabs,
.tabs.tabs-lynch {
  @include tab-style($lynch, $lynch-d10, $white);
  @include tab-badge-style($white, $lynch);
}

.tabs-pumice > .tabs,
.tabs.tabs-pumice {
  @include tab-style($pumice, $pumice-d10, $white);
  @include tab-badge-style($white, $pumice);
}

.tabs-gallery > .tabs,
.tabs.tabs-gallery {
  @include tab-style($gallery, $gallery-d10, $dark);
  @include tab-badge-style($white, $gallery);
}

.tabs-silver-sand > .tabs,
.tabs.tabs-silver-sand {
  @include tab-style($silverSand, $silverSand-d10, $white);
  @include tab-badge-style($white, $silverSand);
}

.tabs-porcelain > .tabs,
.tabs.tabs-porcelain {
  @include tab-style($porcelain, $porcelain-d10, $dark);
  @include tab-badge-style($white, $porcelain);
}

.tabs-cascade > .tabs,
.tabs.tabs-cascade {
  @include tab-style($cascade, $cascade-d10, $white);
  @include tab-badge-style($white, $cascade);
}

.tabs-iron > .tabs,
.tabs.tabs-iron {
  @include tab-style($iron, $iron-d10, $dark);
  @include tab-badge-style($white, $iron);
}

.tabs-edward > .tabs,
.tabs.tabs-edward {
  @include tab-style($edward, $edward-d10, $white);
  @include tab-badge-style($white, $edward);
}

.tabs-cararra > .tabs,
.tabs.tabs-cararra {
  @include tab-style($cararra, $cararra-d10, $dark);
  @include tab-badge-style($white, $cararra);
}

.tabs-silver > .tabs,
.tabs.tabs-silver {
  @include tab-style($silver, $silver-d10, $white);
  @include tab-badge-style($white, $silver);
}

.tabs-striped {
  @include tabs-striped('tabs-white-smoke', $dark, $whiteSmoke);
  @include tabs-striped-background('tabs-background-white-smoke', $whiteSmoke);
  @include tabs-striped-color('tabs-color-white-smoke', $whiteSmoke);

  @include tabs-striped('tabs-lynch', $white, $lynch);
  @include tabs-striped-background('tabs-background-lynch', $lynch);
  @include tabs-striped-color('tabs-color-lynch', $lynch);

  @include tabs-striped('tabs-pumice', $white, $pumice);
  @include tabs-striped-background('tabs-background-pumice', $pumice);
  @include tabs-striped-color('tabs-color-pumice', $pumice);

  @include tabs-striped('tabs-gallery', $dark, $gallery);
  @include tabs-striped-background('tabs-background-gallery', $gallery);
  @include tabs-striped-color('tabs-color-gallery', $gallery);

  @include tabs-striped('tabs-silver-sand', $white, $silverSand);
  @include tabs-striped-background('tabs-background-silver-sand', $silverSand);
  @include tabs-striped-color('tabs-color-silver-sand', $silverSand);

  @include tabs-striped('tabs-porcelain', $dark, $porcelain);
  @include tabs-striped-background('tabs-background-porcelain', $porcelain);
  @include tabs-striped-color('tabs-color-porcelain', $porcelain);

  @include tabs-striped('tabs-cascade', $white, $cascade);
  @include tabs-striped-background('tabs-background-cascade', $cascade);
  @include tabs-striped-color('tabs-color-cascade', $cascade);

  @include tabs-striped('tabs-iron', $dark, $iron);
  @include tabs-striped-background('tabs-background-iron', $iron);
  @include tabs-striped-color('tabs-color-iron', $iron);

  @include tabs-striped('tabs-edward', $white, $edward);
  @include tabs-striped-background('tabs-background-edward', $edward);
  @include tabs-striped-color('tabs-color-edward', $edward);

  @include tabs-striped('tabs-cararra', $dark, $cararra);
  @include tabs-striped-background('tabs-background-cararra', $cararra);
  @include tabs-striped-color('tabs-color-cararra', $cararra);

  @include tabs-striped('tabs-silver', $white, $silver);
  @include tabs-striped-background('tabs-background-silver', $silver);
  @include tabs-striped-color('tabs-color-silver', $silver);
}

@include tabs-background('tabs-background-white-smoke', $whiteSmoke, $whiteSmoke-d10);
@include tabs-color('tabs-color-white-smoke', $whiteSmoke);
@include tabs-background('tabs-background-lynch', $lynch, $lynch-d10);
@include tabs-color('tabs-color-lynch', $lynch);
@include tabs-background('tabs-background-pumice', $pumice, $pumice-d10);
@include tabs-color('tabs-color-pumice', $pumice);
@include tabs-background('tabs-background-gallery', $gallery, $gallery-d10);
@include tabs-color('tabs-color-gallery', $gallery);
@include tabs-background('tabs-background-silver-sand', $silverSand, $silverSand-d10);
@include tabs-color('tabs-color-silver-sand', $silverSand);
@include tabs-background('tabs-background-porcelain', $porcelain, $porcelain-d10);
@include tabs-color('tabs-color-porcelain', $porcelain);
@include tabs-background('tabs-background-cascade', $cascade, $cascade-d10);
@include tabs-color('tabs-color-cascade', $cascade);
@include tabs-background('tabs-background-iron', $iron, $iron-d10);
@include tabs-color('tabs-color-iron', $iron);
@include tabs-background('tabs-background-edward', $edward, $edward-d10);
@include tabs-color('tabs-color-edward', $edward);
@include tabs-background('tabs-background-cararra', $cararra, $cararra-d10);
@include tabs-color('tabs-color-cararra', $cararra);
@include tabs-background('tabs-background-silver', $silver, $silver-d10);
@include tabs-color('tabs-color-silver', $silver);

ion-tabs {
  @include tabs-standard-color('tabs-color-active-white-smoke', $whiteSmoke, $dark);
  @include tabs-standard-color('tabs-color-active-lynch', $lynch, $dark);
  @include tabs-standard-color('tabs-color-active-pumice', $pumice, $dark);
  @include tabs-standard-color('tabs-color-active-gallery', $gallery, $dark);
  @include tabs-standard-color('tabs-color-active-silver-sand', $silverSand, $dark);
  @include tabs-standard-color('tabs-color-active-porcelain', $porcelain, $dark);
  @include tabs-standard-color('tabs-color-active-cascade', $cascade, $dark);
  @include tabs-standard-color('tabs-color-active-iron', $iron, $dark);
  @include tabs-standard-color('tabs-color-active-edward', $edward, $dark);
  @include tabs-standard-color('tabs-color-active-cararra', $cararra, $dark);
  @include tabs-standard-color('tabs-color-active-silver', $silver, $dark);
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
  &.tab-item-white-smoke { color: $whiteSmoke; }
  &.tab-item-lynch { color: $lynch; }
  &.tab-item-pumice { color: $pumice; }
  &.tab-item-gallery { color: $gallery; }
  &.tab-item-silver-sand { color: $silverSand; }
  &.tab-item-porcelain { color: $porcelain; }
  &.tab-item-cascade { color: $cascade; }
  &.tab-item-iron { color: $iron; }
  &.tab-item-edward { color: $edward; }
  &.tab-item-cararra { color: $cararra; }
  &.tab-item-silver { color: $silver; }
}

