// --------------------------
// Green Tabs
// --------------------------

.tabs-medium-turquoise > .tabs,
.tabs.tabs-medium-turquoise {
  @include tab-style($mediumTurquoise, $mediumTurquoise-d10, $white);
  @include tab-badge-style($white, $mediumTurquoise);
}

.tabs-aqua-island > .tabs,
.tabs.tabs-aqua-island {
  @include tab-style($aquaIsland, $aquaIsland-d10, $dark);
  @include tab-badge-style($white, $aquaIsland);
}

.tabs-gossip > .tabs,
.tabs.tabs-gossip {
  @include tab-style($gossip, $gossip-d10, $white);
  @include tab-badge-style($white, $gossip);
}

.tabs-dark-sea-green > .tabs,
.tabs.tabs-dark-sea-green {
  @include tab-style($darkSeaGreen, $darkSeaGreen-d10, $white);
  @include tab-badge-style($white, $darkSeaGreen);
}

.tabs-eucalyptus > .tabs,
.tabs.tabs-eucalyptus {
  @include tab-style($eucalyptus, $eucalyptus-d10, $white);
  @include tab-badge-style($white, $eucalyptus);
}

.tabs-caribbean-green > .tabs,
.tabs.tabs-caribbean-green {
  @include tab-style($caribbeanGreen, $caribbeanGreen-d10, $white);
  @include tab-badge-style($white, $caribbeanGreen);
}

.tabs-humming-bird > .tabs,
.tabs.tabs-humming-bird {
  @include tab-style($hummingBird, $hummingBird-d10, $dark);
  @include tab-badge-style($white, $hummingBird);
}

.tabs-silver-tree > .tabs,
.tabs.tabs-silver-tree {
  @include tab-style($silverTree, $silverTree-d10, $white);
  @include tab-badge-style($white, $silverTree);
}

.tabs-downy > .tabs,
.tabs.tabs-downy {
  @include tab-style($downy, $downy-d10, $white);
  @include tab-badge-style($white, $downy);
}

.tabs-mountain-meadow > .tabs,
.tabs.tabs-mountain-meadow {
  @include tab-style($mountainMeadow, $mountainMeadow-d10, $white);
  @include tab-badge-style($white, $mountainMeadow);
}

.tabs-light-sea-green > .tabs,
.tabs.tabs-light-sea-green {
  @include tab-style($lightSeaGreen, $lightSeaGreen-d10, $white);
  @include tab-badge-style($white, $lightSeaGreen);
}

.tabs-medium-aquamarine > .tabs,
.tabs.tabs-medium-aquamarine {
  @include tab-style($mediumAquamarine, $mediumAquamarine-d10, $white);
  @include tab-badge-style($white, $mediumAquamarine);
}

.tabs-turquoise > .tabs,
.tabs.tabs-turquoise {
  @include tab-style($turquoise, $turquoise-d10, $white);
  @include tab-badge-style($white, $turquoise);
}

.tabs-madang > .tabs,
.tabs.tabs-madang {
  @include tab-style($madang, $madang-d10, $dark);
  @include tab-badge-style($white, $madang);
}

.tabs-riptide > .tabs,
.tabs.tabs-riptide {
  @include tab-style($riptide, $riptide-d10, $white);
  @include tab-badge-style($white, $riptide);
}

.tabs-shamrock > .tabs,
.tabs.tabs-shamrock {
  @include tab-style($shamrock, $shamrock-d10, $white);
  @include tab-badge-style($white, $shamrock);
}

.tabs-niagara > .tabs,
.tabs.tabs-niagara {
  @include tab-style($niagara, $niagara-d10, $white);
  @include tab-badge-style($white, $niagara);
}

.tabs-esmerald > .tabs,
.tabs.tabs-esmerald {
  @include tab-style($esmerald, $esmerald-d10, $white);
  @include tab-badge-style($white, $esmerald);
}

.tabs-green-haze > .tabs,
.tabs.tabs-green-haze {
  @include tab-style($greenHaze, $greenHaze-d10, $white);
  @include tab-badge-style($white, $greenHaze);
}

.tabs-free-speech-aquamarine > .tabs,
.tabs.tabs-free-speech-aquamarine {
  @include tab-style($freeSpeechAquamarine, $freeSpeechAquamarine-d10, $white);
  @include tab-badge-style($white, $freeSpeechAquamarine);
}

.tabs-ocean-green > .tabs,
.tabs.tabs-ocean-green {
  @include tab-style($oceanGreen, $oceanGreen-d10, $white);
  @include tab-badge-style($white, $oceanGreen);
}

.tabs-niagara-one > .tabs,
.tabs.tabs-niagara-one {
  @include tab-style($niagaraOne, $niagaraOne-d10, $white);
  @include tab-badge-style($white, $niagaraOne);
}

.tabs-jade > .tabs,
.tabs.tabs-jade {
  @include tab-style($jade, $jade-d10, $white);
  @include tab-badge-style($white, $jade);
}

.tabs-salem > .tabs,
.tabs.tabs-salem {
  @include tab-style($salem, $salem-d10, $white);
  @include tab-badge-style($white, $salem);
}

.tabs-observatory > .tabs,
.tabs.tabs-observatory {
  @include tab-style($observatory, $observatory-d10, $white);
  @include tab-badge-style($white, $observatory);
}

.tabs-jungle-green > .tabs,
.tabs.tabs-jungle-green {
  @include tab-style($jungleGreen, $jungleGreen-d10, $white);
  @include tab-badge-style($white, $jungleGreen);
}

.tabs-striped {
  @include tabs-striped('tabs-medium-turquoise', $white, $mediumTurquoise);
  @include tabs-striped-background('tabs-background-medium-turquoise', $mediumTurquoise);
  @include tabs-striped-color('tabs-color-medium-turquoise', $mediumTurquoise);

  @include tabs-striped('tabs-aqua-island', $dark, $aquaIsland);
  @include tabs-striped-background('tabs-background-aqua-island', $aquaIsland);
  @include tabs-striped-color('tabs-color-aqua-island', $aquaIsland);

  @include tabs-striped('tabs-gossip', $white, $gossip);
  @include tabs-striped-background('tabs-background-gossip', $gossip);
  @include tabs-striped-color('tabs-color-gossip', $gossip);

  @include tabs-striped('tabs-dark-sea-green', $white, $darkSeaGreen);
  @include tabs-striped-background('tabs-background-dark-sea-green', $darkSeaGreen);
  @include tabs-striped-color('tabs-color-dark-sea-green', $darkSeaGreen);

  @include tabs-striped('tabs-eucalyptus', $white, $eucalyptus);
  @include tabs-striped-background('tabs-background-eucalyptus', $eucalyptus);
  @include tabs-striped-color('tabs-color-eucalyptus', $eucalyptus);

  @include tabs-striped('tabs-caribbean-green', $white, $caribbeanGreen);
  @include tabs-striped-background('tabs-background-caribbean-green', $caribbeanGreen);
  @include tabs-striped-color('tabs-color-caribbean-green', $caribbeanGreen);

  @include tabs-striped('tabs-humming-bird', $dark, $hummingBird);
  @include tabs-striped-background('tabs-background-humming-bird', $hummingBird);
  @include tabs-striped-color('tabs-color-humming-bird', $hummingBird);

  @include tabs-striped('tabs-silver-tree', $white, $silverTree);
  @include tabs-striped-background('tabs-background-silver-tree', $silverTree);
  @include tabs-striped-color('tabs-color-silver-tree', $silverTree);

  @include tabs-striped('tabs-downy', $white, $downy);
  @include tabs-striped-background('tabs-background-downy', $downy);
  @include tabs-striped-color('tabs-color-downy', $downy);

  @include tabs-striped('tabs-mountain-meadow', $white, $mountainMeadow);
  @include tabs-striped-background('tabs-background-mountain-meadow', $mountainMeadow);
  @include tabs-striped-color('tabs-color-mountain-meadow', $mountainMeadow);

  @include tabs-striped('tabs-light-sea-green', $white, $lightSeaGreen);
  @include tabs-striped-background('tabs-background-light-sea-green', $lightSeaGreen);
  @include tabs-striped-color('tabs-color-light-sea-green', $lightSeaGreen);

  @include tabs-striped('tabs-medium-aquamarine', $white, $mediumAquamarine);
  @include tabs-striped-background('tabs-background-medium-aquamarine', $mediumAquamarine);
  @include tabs-striped-color('tabs-color-medium-aquamarine', $mediumAquamarine);

  @include tabs-striped('tabs-turquoise', $white, $turquoise);
  @include tabs-striped-background('tabs-background-turquoise', $turquoise);
  @include tabs-striped-color('tabs-color-turquoise', $turquoise);

  @include tabs-striped('tabs-madang', $dark, $madang);
  @include tabs-striped-background('tabs-background-madang', $madang);
  @include tabs-striped-color('tabs-color-madang', $madang);

  @include tabs-striped('tabs-riptide', $white, $riptide);
  @include tabs-striped-background('tabs-background-riptide', $riptide);
  @include tabs-striped-color('tabs-color-riptide', $riptide);

  @include tabs-striped('tabs-shamrock', $white, $shamrock);
  @include tabs-striped-background('tabs-background-shamrock', $shamrock);
  @include tabs-striped-color('tabs-color-shamrock', $shamrock);

  @include tabs-striped('tabs-niagara', $white, $niagara);
  @include tabs-striped-background('tabs-background-niagara', $niagara);
  @include tabs-striped-color('tabs-color-niagara', $niagara);

  @include tabs-striped('tabs-esmerald', $white, $esmerald);
  @include tabs-striped-background('tabs-background-esmerald', $esmerald);
  @include tabs-striped-color('tabs-color-esmerald', $esmerald);

  @include tabs-striped('tabs-green-haze', $white, $greenHaze);
  @include tabs-striped-background('tabs-background-green-haze', $greenHaze);
  @include tabs-striped-color('tabs-color-green-haze', $greenHaze);

  @include tabs-striped('tabs-free-speech-aquamarine', $white, $freeSpeechAquamarine);
  @include tabs-striped-background('tabs-background-free-speech-aquamarine', $freeSpeechAquamarine);
  @include tabs-striped-color('tabs-color-free-speech-aquamarine', $freeSpeechAquamarine);

  @include tabs-striped('tabs-ocean-green', $white, $oceanGreen);
  @include tabs-striped-background('tabs-background-ocean-green', $oceanGreen);
  @include tabs-striped-color('tabs-color-ocean-green', $oceanGreen);

  @include tabs-striped('tabs-niagara-one', $white, $niagaraOne);
  @include tabs-striped-background('tabs-background-niagara-one', $niagaraOne);
  @include tabs-striped-color('tabs-color-niagara-one', $niagaraOne);

  @include tabs-striped('tabs-jade', $white, $jade);
  @include tabs-striped-background('tabs-background-jade', $jade);
  @include tabs-striped-color('tabs-color-jade', $jade);

  @include tabs-striped('tabs-salem', $white, $salem);
  @include tabs-striped-background('tabs-background-salem', $salem);
  @include tabs-striped-color('tabs-color-salem', $salem);

  @include tabs-striped('tabs-observatory', $white, $observatory);
  @include tabs-striped-background('tabs-background-observatory', $observatory);
  @include tabs-striped-color('tabs-color-observatory', $observatory);

  @include tabs-striped('tabs-jungle-green', $white, $jungleGreen);
  @include tabs-striped-background('tabs-background-jungle-green', $jungleGreen);
  @include tabs-striped-color('tabs-color-jungle-green', $jungleGreen);
}

@include tabs-background('tabs-background-medium-turquoise', $mediumTurquoise, $mediumTurquoise-d10);
@include tabs-color('tabs-color-medium-turquoise', $mediumTurquoise);
@include tabs-background('tabs-background-aqua-island', $aquaIsland, $aquaIsland-d10);
@include tabs-color('tabs-color-aqua-island', $aquaIsland);
@include tabs-background('tabs-background-gossip', $gossip, $gossip-d10);
@include tabs-color('tabs-color-gossip', $gossip);
@include tabs-background('tabs-background-dark-sea-green', $darkSeaGreen, $darkSeaGreen-d10);
@include tabs-color('tabs-color-dark-sea-green', $darkSeaGreen);
@include tabs-background('tabs-background-eucalyptus', $eucalyptus, $eucalyptus-d10);
@include tabs-color('tabs-color-eucalyptus', $eucalyptus);
@include tabs-background('tabs-background-caribbean-green', $caribbeanGreen, $caribbeanGreen-d10);
@include tabs-color('tabs-color-caribbean-green', $caribbeanGreen);
@include tabs-background('tabs-background-humming-bird', $hummingBird, $hummingBird-d10);
@include tabs-color('tabs-color-humming-bird', $hummingBird);
@include tabs-background('tabs-background-silver-tree', $silverTree, $silverTree-d10);
@include tabs-color('tabs-color-silver-tree', $silverTree);
@include tabs-background('tabs-background-downy', $downy, $downy-d10);
@include tabs-color('tabs-color-downy', $downy);
@include tabs-background('tabs-background-mountain-meadow', $mountainMeadow, $mountainMeadow-d10);
@include tabs-color('tabs-color-mountain-meadow', $mountainMeadow);
@include tabs-background('tabs-background-light-sea-green', $lightSeaGreen, $lightSeaGreen-d10);
@include tabs-color('tabs-color-light-sea-green', $lightSeaGreen);
@include tabs-background('tabs-background-medium-aquamarine', $mediumAquamarine, $mediumAquamarine-d10);
@include tabs-color('tabs-color-medium-aquamarine', $mediumAquamarine);
@include tabs-background('tabs-background-turquoise', $turquoise, $turquoise-d10);
@include tabs-color('tabs-color-turquoise', $turquoise);
@include tabs-background('tabs-background-madang', $madang, $madang-d10);
@include tabs-color('tabs-color-madang', $madang);
@include tabs-background('tabs-background-riptide', $riptide, $riptide-d10);
@include tabs-color('tabs-color-riptide', $riptide);
@include tabs-background('tabs-background-shamrock', $shamrock, $shamrock-d10);
@include tabs-color('tabs-color-shamrock', $shamrock);
@include tabs-background('tabs-background-niagara', $niagara, $niagara-d10);
@include tabs-color('tabs-color-niagara', $niagara);
@include tabs-background('tabs-background-esmerald', $esmerald, $esmerald-d10);
@include tabs-color('tabs-color-esmerald', $esmerald);
@include tabs-background('tabs-background-green-haze', $greenHaze, $greenHaze-d10);
@include tabs-color('tabs-color-green-haze', $greenHaze);
@include tabs-background('tabs-background-free-speech-aquamarine', $freeSpeechAquamarine, $freeSpeechAquamarine-d10);
@include tabs-color('tabs-color-free-speech-aquamarine', $freeSpeechAquamarine);
@include tabs-background('tabs-background-ocean-green', $oceanGreen, $oceanGreen-d10);
@include tabs-color('tabs-color-ocean-green', $oceanGreen);
@include tabs-background('tabs-background-niagara-one', $niagaraOne, $niagaraOne-d10);
@include tabs-color('tabs-color-niagara-one', $niagaraOne);
@include tabs-background('tabs-background-jade', $jade, $jade-d10);
@include tabs-color('tabs-color-jade', $jade);
@include tabs-background('tabs-background-salem', $salem, $salem-d10);
@include tabs-color('tabs-color-salem', $salem);
@include tabs-background('tabs-background-observatory', $observatory, $observatory-d10);
@include tabs-color('tabs-color-observatory', $observatory);
@include tabs-background('tabs-background-jungle-green', $jungleGreen, $jungleGreen-d10);
  @include tabs-color('tabs-color-jungle-green', $jungleGreen);

ion-tabs {
  @include tabs-standard-color('tabs-color-active-medium-turquoise', $mediumTurquoise, $dark);
  @include tabs-standard-color('tabs-color-active-aqua-island', $aquaIsland, $white);
  @include tabs-standard-color('tabs-color-active-gossip', $gossip, $dark);
  @include tabs-standard-color('tabs-color-active-dark-sea-green', $darkSeaGreen, $dark);
  @include tabs-standard-color('tabs-color-active-eucalyptus', $eucalyptus, $dark);
  @include tabs-standard-color('tabs-color-active-caribbean-green', $caribbeanGreen, $dark);
  @include tabs-standard-color('tabs-color-active-humming-bird', $hummingBird, $white);
  @include tabs-standard-color('tabs-color-active-silver-tree', $silverTree, $dark);
  @include tabs-standard-color('tabs-color-active-downy', $downy, $dark);
  @include tabs-standard-color('tabs-color-active-mountain-meadow', $mountainMeadow, $dark);
  @include tabs-standard-color('tabs-color-active-light-sea-green', $lightSeaGreen, $dark);
  @include tabs-standard-color('tabs-color-active-medium-aquamarine', $mediumAquamarine, $white);
  @include tabs-standard-color('tabs-color-active-turquoise', $turquoise, $dark);
  @include tabs-standard-color('tabs-color-active-madang', $madang, $white);
  @include tabs-standard-color('tabs-color-active-riptide', $riptide, $dark);
  @include tabs-standard-color('tabs-color-active-shamrock', $shamrock, $dark);
  @include tabs-standard-color('tabs-color-active-niagara', $niagara, $dark);
  @include tabs-standard-color('tabs-color-active-esmerald', $esmerald, $dark);
  @include tabs-standard-color('tabs-color-active-green-haze', $greenHaze, $dark);
  @include tabs-standard-color('tabs-color-active-free-speech-aquamarine', $freeSpeechAquamarine, $dark);
  @include tabs-standard-color('tabs-color-active-ocean-green', $oceanGreen, $dark);
  @include tabs-standard-color('tabs-color-active-niagara-one', $niagaraOne, $dark);
  @include tabs-standard-color('tabs-color-active-jade', $jade, $white);
  @include tabs-standard-color('tabs-color-active-salem', $salem, $white);
  @include tabs-standard-color('tabs-color-active-observatory', $observatory, $white);
  @include tabs-standard-color('tabs-color-active-jungle-green', $jungleGreen, $dark);
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
  &.tab-item-medium-turquoise { color: $mediumTurquoise; }
  &.tab-item-aqua-island { color: $aquaIsland; }
  &.tab-item-gossip { color: $gossip; }
  &.tab-item-dark-sea-green { color: $darkSeaGreen; }
  &.tab-item-eucalyptus { color: $eucalyptus; }
  &.tab-item-caribbean-green { color: $caribbeanGreen; }
  &.tab-item-humming-bird { color: $hummingBird; }
  &.tab-item-silver-tree { color: $silverTree; }
  &.tab-item-downy { color: $downy; }
  &.tab-item-mountain-meadow { color: $mountainMeadow; }
  &.tab-item-light-sea-green { color: $lightSeaGreen; }
  &.tab-item-medium-aquamarine { color: $mediumAquamarine; }
  &.tab-item-turquoise { color: $turquoise; }
  &.tab-item-madang { color: $madang; }
  &.tab-item-riptide { color: $riptide; }
  &.tab-item-shamrock { color: $shamrock; }
  &.tab-item-niagara { color: $niagara; }
  &.tab-item-esmerald { color: $esmerald; }
  &.tab-item-green-haze { color: $greenHaze; }
  &.tab-item-free-speech-aquamarine { color: $freeSpeechAquamarine; }
  &.tab-item-ocean-green { color: $oceanGreen; }
  &.tab-item-niagara-one { color: $niagaraOne; }
  &.tab-item-jade { color: $jade; }
  &.tab-item-salem { color: $salem; }
  &.tab-item-observatory { color: $observatory; }
  &.tab-item-jungle-green { color: $jungleGreen; }
}

