// --------------------------
// Pink Tabs
// --------------------------

.tabs-razzmatazz > .tabs,
.tabs.tabs-razzmatazz {
  @include tab-style($razzmatazz, $razzmatazz-d10, $white);
  @include tab-badge-style($white, $razzmatazz);
}

.tabs-sunset-orange > .tabs,
.tabs.tabs-sunset-orange {
  @include tab-style($sunsetOrange, $sunsetOrange-d10, $white);
  @include tab-badge-style($white, $sunsetOrange);
}

.tabs-wax-flower > .tabs,
.tabs.tabs-wax-flower {
  @include tab-style($waxFlower, $waxFlower-d10, $white);
  @include tab-badge-style($white, $waxFlower);
}

.tabs-cabaret > .tabs,
.tabs.tabs-cabaret {
  @include tab-style($cabaret, $cabaret-d10, $white);
  @include tab-badge-style($white, $cabaret);
}

.tabs-new-york-pink > .tabs,
.tabs.tabs-new-york-pink {
  @include tab-style($newYorkPink, $newYorkPink-d10, $white);
  @include tab-badge-style($white, $newYorkPink);
}

.tabs-radical-red > .tabs,
.tabs.tabs-radical-red {
  @include tab-style($radicalRed, $radicalRed-d10, $white);
  @include tab-badge-style($white, $radicalRed);
}

.tabs-sunglo > .tabs,
.tabs.tabs-sunglo {
  @include tab-style($sunglo, $sunglo-d10, $white);
  @include tab-badge-style($white, $sunglo);
}

.tabs-striped {
  @include tabs-striped('tabs-razzmatazz', $white, $razzmatazz);
  @include tabs-striped-background('tabs-background-razzmatazz', $razzmatazz);
  @include tabs-striped-color('tabs-color-razzmatazz', $razzmatazz);

  @include tabs-striped('tabs-sunset-orange', $white, $sunsetOrange);
  @include tabs-striped-background('tabs-background-sunset-orange', $sunsetOrange);
  @include tabs-striped-color('tabs-color-sunset-orange', $sunsetOrange);

  @include tabs-striped('tabs-wax-flower', $white, $waxFlower);
  @include tabs-striped-background('tabs-background-wax-flower', $waxFlower);
  @include tabs-striped-color('tabs-color-wax-flower', $waxFlower);

  @include tabs-striped('tabs-cabaret', $white, $cabaret);
  @include tabs-striped-background('tabs-background-cabaret', $cabaret);
  @include tabs-striped-color('tabs-color-cabaret', $cabaret);

  @include tabs-striped('tabs-new-york-pink', $white, $newYorkPink);
  @include tabs-striped-background('tabs-background-new-york-pink', $newYorkPink);
  @include tabs-striped-color('tabs-color-new-york-pink', $newYorkPink);

  @include tabs-striped('tabs-radical-red', $white, $radicalRed);
  @include tabs-striped-background('tabs-background-radical-red', $radicalRed);
  @include tabs-striped-color('tabs-color-radical-red', $radicalRed);

  @include tabs-striped('tabs-sunglo', $white, $sunglo);
  @include tabs-striped-background('tabs-background-sunglo', $sunglo);
  @include tabs-striped-color('tabs-color-sunglo', $sunglo);
}

@include tabs-background('tabs-background-razzmatazz', $razzmatazz, $razzmatazz-d10);
@include tabs-color('tabs-color-razzmatazz', $razzmatazz);
@include tabs-background('tabs-background-sunset-orange', $sunsetOrange, $sunsetOrange-d10);
@include tabs-color('tabs-color-sunset-orange', $sunsetOrange);
@include tabs-background('tabs-background-wax-flower', $waxFlower, $waxFlower-d10);
@include tabs-color('tabs-color-wax-flower', $waxFlower);
@include tabs-background('tabs-background-cabaret', $cabaret, $cabaret-d10);
@include tabs-color('tabs-color-cabaret', $cabaret);
@include tabs-background('tabs-background-new-york-pink', $newYorkPink, $newYorkPink-d10);
@include tabs-color('tabs-color-new-york-pink', $newYorkPink);
@include tabs-background('tabs-background-radical-red', $radicalRed, $radicalRed-d10);
@include tabs-color('tabs-color-radical-red', $radicalRed);
@include tabs-background('tabs-background-sunglo', $sunglo, $sunglo-d10);
@include tabs-color('tabs-color-sunglo', $sunglo);

ion-tabs {
  @include tabs-standard-color('tabs-color-active-razzmatazz', $razzmatazz, $dark);
  @include tabs-standard-color('tabs-color-active-sunset-orange', $sunsetOrange, $dark);
  @include tabs-standard-color('tabs-color-active-wax-flower', $waxFlower, $dark);
  @include tabs-standard-color('tabs-color-active-cabaret', $cabaret, $dark);
  @include tabs-standard-color('tabs-color-active-new-york-pink', $newYorkPink, $dark);
  @include tabs-standard-color('tabs-color-active-radical-red', $radicalRed, $dark);
  @include tabs-standard-color('tabs-color-active-sunglo', $sunglo, $dark);
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
  &.tab-item-razzmatazz { color: $razzmatazz; }
  &.tab-item-sunset-orange { color: $sunsetOrange; }
  &.tab-item-wax-flower { color: $waxFlower; }
  &.tab-item-cabaret { color: $cabaret; }
  &.tab-item-new-york-pink { color: $newYorkPink; }
  &.tab-item-radical-red { color: $radicalRed; }
  &.tab-item-sunglo { color: $sunglo; }
}

