// --------------------------
// Yellow Tabs
// --------------------------

.tabs-cream-can > .tabs,
.tabs.tabs-cream-can {
  @include tab-style($creamCan, $creamCan-d10, $white);
  @include tab-badge-style($white, $creamCan);
}

.tabs-ripe-lemon > .tabs,
.tabs.tabs-ripe-lemon {
  @include tab-style($ripeLemon, $ripeLemon-d10, $white);
  @include tab-badge-style($white, $ripeLemon);
}

.tabs-saffron > .tabs,
.tabs.tabs-saffron {
  @include tab-style($saffron, $saffron-d10, $white);
  @include tab-badge-style($white, $saffron);
}

.tabs-striped {
  @include tabs-striped('tabs-cream-can', $white, $creamCan);
  @include tabs-striped-background('tabs-background-cream-can', $creamCan);
  @include tabs-striped-color('tabs-color-cream-can', $creamCan);

  @include tabs-striped('tabs-ripe-lemon', $white, $ripeLemon);
  @include tabs-striped-background('tabs-background-ripe-lemon', $ripeLemon);
  @include tabs-striped-color('tabs-color-ripe-lemon', $ripeLemon);

  @include tabs-striped('tabs-saffron', $white, $saffron);
  @include tabs-striped-background('tabs-background-saffron', $saffron);
  @include tabs-striped-color('tabs-color-saffron', $saffron);
}

@include tabs-background('tabs-background-cream-can', $creamCan, $creamCan-d10);
@include tabs-color('tabs-color-cream-can', $creamCan);
@include tabs-background('tabs-background-ripe-lemon', $ripeLemon, $ripeLemon-d10);
@include tabs-color('tabs-color-ripe-lemon', $ripeLemon);
@include tabs-background('tabs-background-saffron', $saffron, $saffron-d10);
@include tabs-color('tabs-color-saffron', $saffron);

ion-tabs {
  @include tabs-standard-color('tabs-color-active-cream-can', $creamCan, $dark);
  @include tabs-standard-color('tabs-color-active-ripe-lemon', $ripeLemon, $dark);
  @include tabs-standard-color('tabs-color-active-saffron', $saffron, $dark);
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
  &.tab-item-cream-can { color: $creamCan; }
  &.tab-item-ripe-lemon { color: $ripeLemon; }
  &.tab-item-saffron { color: $saffron; }
}
