.bar {
  // --------------------------------
  // Red bars
  // --------------------------------

  &.bar-chestnut-rose {
    @include bar-style($chestnutRose, $valencia, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $valencia, $valencia 50%, transparent 50%);
    }
    
    .button {
      @include button-style(
        $chestnutRose, $chestnutRose-d10, $chestnutRose-d10, 
        $chestnutRose-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-pomegranate {
    @include bar-style($pomegranate, $thunderbird, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $thunderbird, $thunderbird 50%, transparent 50%);
    }

    .button {
      @include button-style(
        $pomegranate, $pomegranate-d10, $pomegranate-d10, 
        $pomegranate-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }
  
  &.bar-thunderbird {
    @include bar-style($thunderbird, $oldBrick, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $oldBrick, $oldBrick 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $thunderbird, $thunderbird-d10, $thunderbird-d10, 
        $thunderbird-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-old-brick {
    @include bar-style($oldBrick, $chestnutRose, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $chestnutRose, $chestnutRose 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $oldBrick, $oldBrick-d10, $oldBrick-d10, 
        $oldBrick-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-flamingo {
    @include bar-style($flamingo, $tallPoppy, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $tallPoppy, $tallPoppy 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $flamingo, $flamingo-d10, $flamingo-d10, 
        $flamingo-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-valencia {
    @include bar-style($valencia, $oldBrick, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $oldBrick, $oldBrick 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $valencia, $valencia-d10, $valencia-d10, 
        $valencia-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-tall-poppy {
    @include bar-style($tallPoppy, $cinnabar, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $cinnabar, $cinnabar 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $tallPoppy, $tallPoppy-d10, $tallPoppy-d10, 
        $tallPoppy-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-monza {
    @include bar-style($monza, $cinnabar, $white);

    .bar-footer{
      background-image: linear-gradient(180deg, $cinnabar, $cinnabar 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $monza, $monza-d10, $monza-d10, 
        $monza-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-cinnabar {
    @include bar-style($cinnabar, $tallPoppy, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $tallPoppy, $tallPoppy 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $cinnabar, $cinnabar-d10, $cinnabar-d10, 
        $cinnabar-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  // --------------------------
  // Yellow bars
  // --------------------------

  &.bar-cream-can {
    @include bar-style($creamCan, $saffron, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $saffron, $saffron 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $creamCan, $creamCan-d10, $creamCan-d10, 
        $creamCan-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-ripe-lemon {
    @include bar-style($ripeLemon, $creamCan, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $creamCan, $creamCan 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $ripeLemon, $ripeLemon-d10, $ripeLemon-d10, 
        $ripeLemon-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-saffron {
    @include bar-style($saffron, $ripeLemon, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $ripeLemon, $ripeLemon 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $saffron, $saffron-d10, $saffron-d10, 
        $saffron-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }
  
  // --------------------------
  // Pink bars
  // --------------------------

  &.bar-razzmatazz {
    @include bar-style($razzmatazz, $cabaret, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $cabaret, $cabaret 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $razzmatazz, $razzmatazz-d10, $razzmatazz-d10, 
        $razzmatazz-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-sunset-orange {
    @include bar-style($sunsetOrange, $sunglo, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $sunglo, $sunglo 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $sunsetOrange, $sunsetOrange-d10, $sunsetOrange-d10, 
        $sunsetOrange-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-wax-flower {
    @include bar-style($waxFlower, $sunglo, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $sunglo, $sunglo 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $waxFlower, $waxFlower-d10, $waxFlower-d10, 
        $waxFlower-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-cabaret {
    @include bar-style($cabaret, $razzmatazz, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $razzmatazz, $razzmatazz 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $cabaret, $cabaret-d10, $cabaret-d10, 
        $cabaret-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-new-york-pink {
    @include bar-style($newYorkPink, $sunglo, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $sunglo, $sunglo 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $newYorkPink, $newYorkPink-d10, $newYorkPink-d10, 
        $newYorkPink-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-radical-red {
    @include bar-style($radicalRed, $cabaret, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $cabaret, $cabaret 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $radicalRed, $radicalRed-d10, $radicalRed-d10, 
        $radicalRed-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-sunglo {
    @include bar-style($sunglo, $waxFlower, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $waxFlower, $waxFlower 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $sunglo, $sunglo-d10, $sunglo-d10, 
        $sunglo-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }
 
  // --------------------------
  // Gray bars
  // --------------------------

  &.bar-white-smoke {
    @include bar-style($whiteSmoke, $pumice, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $pumice, $pumice 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $whiteSmoke, $whiteSmoke-d10, $whiteSmoke-d10, 
        $whiteSmoke-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-lynch {
    @include bar-style($lynch, $pumice, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $pumice, $pumice 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $lynch, $lynch-d10, $lynch-d10, 
        $lynch-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-pumice {
    @include bar-style($pumice, $silver, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $silver, $silver 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $pumice, $pumice-d10, $pumice-d10, 
        $pumice-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-gallery {
    @include bar-style($gallery, $iron, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $iron, $iron 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $gallery, $gallery-d10, $gallery-d10, 
        $gallery-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-silver-sand {
    @include bar-style($silverSand, $cararra, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $cararra, $cararra 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $silverSand, $silverSand-d10, $silverSand-d10, 
        $silverSand-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-porcelain {
    @include bar-style($porcelain, $whiteSmoke, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $whiteSmoke, $whiteSmoke 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $porcelain, $porcelain-d10, $porcelain-d10, 
        $porcelain-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-cascade {
    @include bar-style($cascade, $lynch, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $lynch, $lynch 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $cascade, $cascade-d10, $cascade-d10, 
        $cascade-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-iron {
    @include bar-style($iron, $pumice, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $pumice, $pumice 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $iron, $iron-d10, $iron-d10, 
        $iron-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-edward {
    @include bar-style($edward, $iron, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $iron, $iron 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $edward, $edward-d10, $edward-d10, 
        $edward-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-cararra {
    @include bar-style($cararra, $silverSand, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $silverSand, $silverSand 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $cararra, $cararra-d10, $cararra-d10, 
        $cararra-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-silver {
    @include bar-style($silver, $lynch, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $lynch, $lynch 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $silver, $silver-d10, $silver-d10, 
        $silver-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  // ------------------------
  // Purple bars
  // ------------------------

  &.bar-snuff {
    @include bar-style($snuff, $lightWisteria, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $lightWisteria, $lightWisteria 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $snuff, $snuff-d10, $snuff-d10, 
        $snuff-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-rebecca-purple {
    @include bar-style($rebeccaPurple, $honeyFlower, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $honeyFlower, $honeyFlower 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $rebeccaPurple, $rebeccaPurple-d10, $rebeccaPurple-d10, 
        $rebeccaPurple-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-honey-flower {
    @include bar-style($honeyFlower, $plum, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $plum, $plum 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $honeyFlower, $honeyFlower-d10, $honeyFlower-d10, 
        $honeyFlower-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-wistful {
    @include bar-style($wistful, $lightWisteria, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $lightWisteria, $lightWisteria 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $wistful, $wistful-d10, $wistful-d10, 
        $wistful-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-plum {
    @include bar-style($plum, $wisteria, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $wisteria, $wisteria 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $plum, $plum-d10, $plum-d10, 
        $plum-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-seance {
    @include bar-style($seance, $studio, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $studio, $studio 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $seance, $seance-d10, $seance-d10, 
        $seance-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-medium-purple {
    @include bar-style($mediumPurple, $lightWisteria, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $lightWisteria, $lightWisteria 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $mediumPurple, $mediumPurple-d10, $mediumPurple-d10, 
        $mediumPurple-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-light-wisteria {
    @include bar-style($lightWisteria, $snuff, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $snuff, $snuff 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $lightWisteria, $lightWisteria-d10, $lightWisteria-d10, 
        $lightWisteria-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-studio {
    @include bar-style($studio, $wisteria, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $wisteria, $wisteria 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $studio, $studio-d10, $studio-d10, 
        $studio-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-wisteria {
    @include bar-style($wisteria, $plum, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $plum, $plum 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $wisteria, $wisteria-d10, $wisteria-d10, 
        $wisteria-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  // ------------------------
  // Orange bars
  // ------------------------


  &.bar-confetti {
    @include bar-style($confetti, $capeHoney, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $capeHoney, $capeHoney 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $confetti, $confetti-d10, $confetti-d10, 
        $confetti-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-cape-honey {
    @include bar-style($capeHoney, $capeHoney, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $capeHoney, $capeHoney 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $capeHoney, $capeHoney-d10, $capeHoney-d10, 
        $capeHoney-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-california {
    @include bar-style($california, $confetti, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $confetti, $confetti 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $california, $california-d10, $california-d10, 
        $california-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-fire-bush {
    @include bar-style($fireBush, $casablanca, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $casablanca, $casablanca 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $fireBush, $fireBush-d10, $fireBush-d10, 
        $fireBush-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-tahiti-gold {
    @include bar-style($tahitiGold, $california, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $california, $california 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $tahitiGold, $tahitiGold-d10, $tahitiGold-d10, 
        $tahitiGold-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-casablanca {
    @include bar-style($casablanca, $confetti, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $confetti, $confetti 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $casablanca, $casablanca-d10, $casablanca-d10, 
        $casablanca-d10, $white);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-crusta {
    @include bar-style($crusta, $jaffa, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $jaffa, $jaffa 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $crusta, $crusta-d10, $crusta-d10, 
        $crusta-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-sea-buckthorn {
    @include bar-style($seaBuckthorn, $jaffa, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $jaffa, $jaffa 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $seaBuckthorn, $seaBuckthorn-d10, $seaBuckthorn-d10, 
        $seaBuckthorn-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-lightning-yellow {
    @include bar-style($lightningYellow, $sandstorm, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $sandstorm, $sandstorm 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $lightningYellow, $lightningYellow-d10, $lightningYellow-d10, 
        $lightningYellow-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-burnt-orange {
    @include bar-style($burntOrange, $ecstasy, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $ecstasy, $ecstasy 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $burntOrange, $burntOrange-d10, $burntOrange-d10, 
        $burntOrange-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-buttercup {
    @include bar-style($buttercup, $fireBush, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $fireBush, $fireBush 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $buttercup, $buttercup-d10, $buttercup-d10, 
        $buttercup-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-ecstasy {
    @include bar-style($ecstasy, $burntOrange, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $burntOrange, $burntOrange 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $ecstasy, $ecstasy-d10, $ecstasy-d10, 
        $ecstasy-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-sandstorm {
    @include bar-style($sandstorm, $casablanca, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $casablanca, $casablanca 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $sandstorm, $sandstorm-d10, $sandstorm-d10, 
        $sandstorm-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-jaffa {
    @include bar-style($jaffa, $seaBuckthorn, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $seaBuckthorn, $seaBuckthorn 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $jaffa, $jaffa-d10, $jaffa-d10, 
        $jaffa-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-zest {
    @include bar-style($zest, $california, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $california, $california 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $zest, $zest-d10, $zest-d10, 
        $zest-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  // -----------------------------
  // Green Bars
  // -----------------------------

  &.bar-medium-turquoise {
    @include bar-style($mediumTurquoise, $aquaIsland, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $aquaIsland, $aquaIsland 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $mediumTurquoise, $mediumTurquoise-d10, $mediumTurquoise-d10, 
        $mediumTurquoise-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-aqua-island {
    @include bar-style($aquaIsland, $mediumTurquoise, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $mediumTurquoise, $mediumTurquoise 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $aquaIsland, $aquaIsland-d10, $aquaIsland-d10, 
        $aquaIsland-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-gossip {
    @include bar-style($gossip, $darkSeaGreen, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $darkSeaGreen, $darkSeaGreen 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $gossip, $gossip-d10, $gossip-d10, 
        $gossip-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-dark-sea-green {
    @include bar-style($darkSeaGreen, $oceanGreen, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $oceanGreen, $oceanGreen 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $darkSeaGreen, $darkSeaGreen-d10, $darkSeaGreen-d10, 
        $darkSeaGreen-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-eucalyptus {
    @include bar-style($eucalyptus, $gossip, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $gossip, $gossip 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $eucalyptus, $eucalyptus-d10, $eucalyptus-d10, 
        $eucalyptus-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-caribbean-green {
    @include bar-style($caribbeanGreen, $silverTree, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $silverTree, $silverTree 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $caribbeanGreen, $caribbeanGreen-d10, $caribbeanGreen-d10, 
        $caribbeanGreen-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-silver-tree {
    @include bar-style($silverTree, $caribbeanGreen, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $caribbeanGreen, $caribbeanGreen 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $silverTree, $silverTree-d10, $silverTree-d10, 
        $silverTree-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-downy {
    @include bar-style($downy, $riptide, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $riptide, $riptide 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $downy, $downy-d10, $downy-d10, 
        $downy-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-mountain-meadow {
    @include bar-style($mountainMeadow, $riptide, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $riptide, $riptide 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $mountainMeadow, $mountainMeadow-d10, $mountainMeadow-d10, 
        $mountainMeadow-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-light-sea-green {
    @include bar-style($lightSeaGreen, $downy, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $downy, $downy 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $lightSeaGreen, $lightSeaGreen-d10, $lightSeaGreen-d10, 
        $lightSeaGreen-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-medium-aquamarine {
    @include bar-style($mediumAquamarine, $silverTree, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $silverTree, $silverTree 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $mediumAquamarine, $mediumAquamarine-d10, $mediumAquamarine-d10, 
        $mediumAquamarine-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-turquoise {
    @include bar-style($turquoise, $caribbeanGreen, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $caribbeanGreen, $caribbeanGreen 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $turquoise, $turquoise-d10, $turquoise-d10, 
        $turquoise-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-madang {
    @include bar-style($madang, $gossip, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $gossip, $gossip 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $madang, $madang-d10, $madang-d10, 
        $madang-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-riptide {
    @include bar-style($riptide, $downy, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $downy, $downy 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $riptide, $riptide-d10, $riptide-d10, 
        $riptide-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-shamrock {
    @include bar-style($shamrock, $esmerald, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $esmerald, $esmerald 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $shamrock, $shamrock-d10, $shamrock-d10, 
        $shamrock-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-niagara {
    @include bar-style($niagara, $greenHaze, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $greenHaze, $greenHaze 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $niagara, $niagara-d10, $niagara-d10, 
        $niagara-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-esmerald {
    @include bar-style($esmerald, $shamrock, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $shamrock, $shamrock 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $esmerald, $esmerald-d10, $esmerald-d10, 
        $esmerald-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-green-haze {
    @include bar-style($greenHaze, $niagara, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $niagara, $niagara 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $greenHaze, $greenHaze-d10, $greenHaze-d10, 
        $greenHaze-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-free-speech-aquamarine {
    @include bar-style($freeSpeechAquamarine, $oceanGreen, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $oceanGreen, $oceanGreen 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $freeSpeechAquamarine, $freeSpeechAquamarine-d10, $freeSpeechAquamarine-d10, 
        $freeSpeechAquamarine-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-ocean-green {
    @include bar-style($oceanGreen, $jade, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $jade, $jade 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $oceanGreen, $oceanGreen-d10, $oceanGreen-d10, 
        $oceanGreen-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-niagara-one {
    @include bar-style($niagaraOne, $niagara, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $niagara, $niagara 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $niagaraOne, $niagaraOne-d10, $niagaraOne-d10, 
        $niagaraOne-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-jade {
    @include bar-style($jade, $esmerald, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $esmerald, $esmerald 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $jade, $jade-d10, $jade-d10, 
        $jade-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-salem {
    @include bar-style($salem, $jade, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $jade, $jade 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $salem, $salem-d10, $salem-d10, 
        $salem-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-observatory {
    @include bar-style($observatory, $greenHaze, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $greenHaze, $greenHaze 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $observatory, $observatory-d10, $observatory-d10, 
        $observatory-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-jungle-green {
    @include bar-style($jungleGreen, $shamrock, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $shamrock, $shamrock 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $jungleGreen, $jungleGreen-d10, $jungleGreen-d10, 
        $jungleGreen-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  // ------------------------------
  // Blue bars
  // ------------------------------


  &.bar-san-marino {
    @include bar-style($sanMarino, $royalBlue, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $royalBlue, $royalBlue 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $sanMarino, $sanMarino-d10, $sanMarino-d10, 
        $sanMarino-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-alice-blue {
    @include bar-style($aliceBlue, $hummingBird, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $hummingBird, $hummingBird 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $aliceBlue, $aliceBlue-d10, $aliceBlue-d10, 
        $aliceBlue-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-royal-blue {
    @include bar-style($royalBlue, $sanMarino, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $sanMarino, $sanMarino 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $royalBlue, $royalBlue-d10, $royalBlue-d10, 
        $royalBlue-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-picton-blue {
    @include bar-style($pictonBlue, $curiousBlue, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $curiousBlue, $curiousBlue 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $pictonBlue, $pictonBlue-d10, $pictonBlue-d10, 
        $pictonBlue-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-spray {
    @include bar-style($spray, $shakespeare, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $shakespeare, $shakespeare 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $spray, $spray-d10, $spray-d10, 
        $spray-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-shakespeare {
    @include bar-style($shakespeare, $spray, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $spray, $spray 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $shakespeare, $shakespeare-d10, $shakespeare-d10, 
        $shakespeare-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-humming-bird {
    @include bar-style($hummingBird, $aliceBlue, $dark);

    .bar-footer {
      background-image: linear-gradient(180deg, $aliceBlue, $aliceBlue 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $hummingBird, $hummingBird-d10, $hummingBird-d10, 
        $hummingBird-d10, $dark);
      @include button-clear($dark, $bar-title-font-size);
    }
  }

  &.bar-picton-blue-two {
    @include bar-style($pictonBlueTwo, $curiousBlue, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $curiousBlue, $curiousBlue 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $pictonBlueTwo, $pictonBlueTwo-d10, $pictonBlueTwo-d10, 
        $pictonBlueTwo-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-curious-blue {
    @include bar-style($curiousBlue, $pictonBlue, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $pictonBlue, $pictonBlue 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $curiousBlue, $curiousBlue-d10, $curiousBlue-d10, 
        $curiousBlue-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-madison {
    @include bar-style($madison, $ming, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $ming, $ming 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $madison, $madison-d10, $madison-d10, 
        $madison-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-dodger-blue {
    @include bar-style($dodgerBlue, $shakespeare, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $shakespeare, $shakespeare 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $dodgerBlue, $dodgerBlue-d10, $dodgerBlue-d10, 
        $dodgerBlue-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-ming {
    @include bar-style($ming, $madison, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $madison, $madison 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $ming, $ming-d10, $ming-d10, 
        $ming-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-ebony-clay {
    @include bar-style($ebonyClay, $madison, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $madison, $madison 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $ebonyClay, $ebonyClay-d10, $ebonyClay-d10, 
        $ebonyClay-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-malibu {
    @include bar-style($malibu, $curiousBlue, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $curiousBlue, $curiousBlue 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $malibu, $malibu-d10, $malibu-d10, 
        $malibu-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-summer-sky {
    @include bar-style($summerSky, $malibu, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $malibu, $malibu 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $summerSky, $summerSky-d10, $summerSky-d10, 
        $summerSky-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-chambray {
    @include bar-style($chambray, $steelBlue, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $steelBlue, $steelBlue 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $chambray, $chambray-d10, $chambray-d10, 
        $chambray-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-pickled-bluewood {
    @include bar-style($pickledBluewood, $hoki, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $hoki, $hoki 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $pickledBluewood, $pickledBluewood-d10, $pickledBluewood-d10, 
        $pickledBluewood-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-hoki {
    @include bar-style($hoki, $pickledBluewood, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $pickledBluewood, $pickledBluewood 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $hoki, $hoki-d10, $hoki-d10, 
        $hoki-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-jelly-bean {
    @include bar-style($jellyBean, $malibu, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $malibu, $malibu 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $jellyBean, $jellyBean-d10, $jellyBean-d10, 
        $jellyBean-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-jacksons-purple {
    @include bar-style($jacksonsPurple, $chambray, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $chambray, $chambray 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $jacksonsPurple, $jacksonsPurple-d10, $jacksonsPurple-d10, 
        $jacksonsPurple-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-jordy-blue {
    @include bar-style($jordyBlue, $hoki, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $hoki, $hoki 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $jordyBlue, $jordyBlue-d10, $jordyBlue-d10, 
        $jordyBlue-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-steel-blue {
    @include bar-style($steelBlue, $chambray, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $chambray, $chambray 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $steelBlue, $steelBlue-d10, $steelBlue-d10, 
        $steelBlue-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }

  &.bar-fountain-blue {
    @include bar-style($fountainBlue, $jellyBean, $white);

    .bar-footer {
      background-image: linear-gradient(180deg, $jellyBean, $jellyBean 50%, transparent 50%);
    }
    .button {
      @include button-style(
        $fountainBlue, $fountainBlue-d10, $fountainBlue-d10, 
        $fountainBlue-d10, $white);
      @include button-clear($white, $bar-title-font-size);
    }
  }
}
