.color {
  // --------------------------------
  // Red colors
  // --------------------------------

  .color-chestnut-rose {
    background-color: $chestnutRose;
  }

  .color-pomegranate {
    background-color: $pomegranate;
  }

  .color-thunderbird {
    background-color: $thunderbird;
  }

  .color-old-brick {
    background-color: $oldBrick;
  }

  .color-flamingo {
    background-color: $flamingo;
  }

  .color-valencia {
    background-color: $valencia;
  }

  .color-tall-poppy {
    background-color: $tallPoppy;
  }

  .color-monza {
    background-color: $monza;
  }

  .color-cinnabar {
    background-color: $cinnabar;
  }

  // --------------------------
  // Yellow colors
  // --------------------------

  .color-cream-can {
    background-color: $creamCan;
  }

  .color-ripe-lemon {
    background-color: $ripeLemon;
  }

  .color-saffron {
    background-color: $saffron;
  }

  // --------------------------
  // Pink colors
  // --------------------------

  .color-razzmatazz {
    background-color: $razzmatazz;
  }

  .color-sunset-orange {
    background-color: $sunsetOrange;
  }

  .color-wax-flower {
    background-color: $waxFlower;
  }

  .color-cabaret {
    background-color: $cabaret;
  }

  .color-new-york-pink {
    background-color: $newYorkPink;
  }

  .color-radical-red {
    background-color: $radicalRed;
  }

  .color-sunglo {
    background-color: $sunglo;
  }

  // --------------------------
  // Gray colors
  // --------------------------

  .color-white-smoke {
    background-color: $whiteSmoke;
  }

  .color-lynch {
    background-color: $lynch;
  }

  .color-pumice {
    background-color: $pumice;
  }

  .color-gallery {
    background-color: $gallery;
  }

  .color-silver-sand {
    background-color: $silverSand;
  }

  .color-porcelain {
    background-color: $porcelain;
  }

  .color-cascade {
    background-color: $cascade;
  }

  .color-iron {
    background-color: $iron;
  }

  .color-edward {
    background-color: $edward;
  }

  .color-cararra {
    background-color: $cararra;
  }

  .color-silver {
    background-color: $silver;
  }

  // ------------------------
  // Purple colors
  // ------------------------

  .color-snuff {
    background-color: $snuff;
  }

  .color-rebecca-purple {
    background-color: $rebeccaPurple;
  }

  .color-honey-flower {
    background-color: $honeyFlower;
  }

  .color-wistful {
    background-color: $wistful;
  }

  .color-plum {
    background-color: $plum;
  }

  .color-seance {
    background-color: $seance;
  }

  .color-medium-purple {
    background-color: $mediumPurple;
  }

  .color-light-wisteria {
    background-color: $lightWisteria;
  }

  .color-studio {
    background-color: $studio;
  }

  .color-wisteria {
    background-color: $wisteria;
  }

  // ------------------------
  // Orange colors
  // ------------------------


  .color-confetti {
    background-color: $confetti;
  }

  .color-cape-honey {
    background-color: $capeHoney;
  }

  .color-california {
    background-color: $california;
  }

  .color-fire-bush {
    background-color: $fireBush;
  }

  .color-tahiti-gold {
    background-color: $tahitiGold;
  }

  .color-casablanca {
    background-color: $casablanca;
  }

  .color-crusta {
    background-color: $crusta;
  }

  .color-sea-buckthorn {
    background-color: $seaBuckthorn;
  }

  .color-lightning-yellow {
    background-color: $lightningYellow;
  }

  .color-burnt-orange {
    background-color: $burntOrange;
  }

  .color-buttercup {
    background-color: $buttercup;
  }

  .color-ecstasy {
    background-color: $ecstasy;
  }

  .color-sandstorm {
    background-color: $sandstorm;
  }

  .color-jaffa {
    background-color: $jaffa;
  }

  .color-zest {
    background-color: $zest;
  }

  // -----------------------------
  // Green colors
  // -----------------------------

  .color-medium-turquoise {
    background-color: $mediumTurquoise;
  }

  .color-aqua-island {
    background-color: $aquaIsland;
  }

  .color-gossip {
    background-color: $gossip;
  }

  .color-dark-sea-green {
    background-color: $darkSeaGreen;
  }

  .color-eucalyptus {
    background-color: $eucalyptus;
  }

  .color-caribbean-green {
    background-color: $caribbeanGreen;
  }

  .color-silver-tree {
    background-color: $silverTree;
  }

  .color-downy {
    background-color: $downy;
  }

  .color-mountain-meadow {
    background-color: $mountainMeadow;
  }

  .color-light-sea-green {
    background-color: $lightSeaGreen;
  }

  .color-medium-aquamarine {
    background-color: $mediumAquamarine;
  }

  .color-turquoise {
    background-color: $turquoise;
  }

  .color-madang {
    background-color: $madang;
  }

  .color-riptide {
    background-color: $riptide;
  }

  .color-shamrock {
    background-color: $shamrock;
  }

  .color-niagara {
    background-color: $niagara;
  }

  .color-esmerald {
    background-color: $esmerald;
  }

  .color-green-haze {
    background-color: $greenHaze;
  }

  .color-free-speech-aquamarine {
    background-color: $freeSpeechAquamarine;
  }

  .color-ocean-green {
    background-color: $oceanGreen;
  }

  .color-niagara-one {
    background-color: $niagaraOne;
  }

  .color-jade {
    background-color: $jade;
  }

  .color-salem {
    background-color: $salem;
  }

  .color-observatory {
    background-color: $observatory;
  }

  .color-jungle-green {
    background-color: $jungleGreen;
  }

  // ------------------------------
  // Blue colors
  // ------------------------------


  .color-san-marino {
    background-color: $sanMarino;
  }

  .color-alice-blue {
    background-color: $aliceBlue;
  }

  .color-royal-blue {
    background-color: $royalBlue;
  }

  .color-picton-blue {
    background-color: $pictonBlue;
  }

  .color-spray {
    background-color: $spray;
  }

  .color-shakespeare {
    background-color: $shakespeare;
  }

  .color-humming-bird {
    background-color: $hummingBird;
  }

  .color-picton-blue-two {
    background-color: $pictonBlueTwo;
  }

  .color-curious-blue {
    background-color: $curiousBlue;
  }

  .color-madison {
    background-color: $madison;
  }

  .color-dodger-blue {
    background-color: $dodgerBlue;
  }

  .color-ming {
    background-color: $ming;
  }

  .color-ebony-clay {
    background-color: $ebonyClay;
  }

  .color-malibu {
    background-color: $malibu;
  }

  .color-summer-sky {
    background-color: $summerSky;
  }

  .color-chambray {
    background-color: $chambray;
  }

  .color-pickled-bluewood {
    background-color: $pickledBluewood;
  }

  .color-hoki {
    background-color: $hoki;
  }

  .color-jelly-bean {
    background-color: $jellyBean;
  }

  .color-jacksons-purple {
    background-color: $jacksonsPurple;
  }

  .color-jordy-blue {
    background-color: $jordyBlue;
  }

  .color-steel-blue {
    background-color: $steelBlue;
  }

  .color-fountain-blue {
    background-color: $fountainBlue;
  }
}
