.example {
  .bar {
    position: relative;
    margin: 15px 0;
  }

  .button {
    margin: 5px;
  }

  .color {
    width: 150px;
    height: 50px;
  }

  .tabs {
    position: relative;
    margin: 15px 0;
  }

  &.doc-tabs { width: 400px; }
}

.logo-wrapper {
  text-align: center;
}
