<ion-view view-title="Buttons">
  <ion-content padding="true">
    <h2>Buttons documentation</h2>
    <p>It uses the same pattern of Ionic, the name of the color with "button" prefix</p>

    <h2>Yellow:</h2>
    <div ng-repeat="color in vm.classesYellow">
      <div class="example">
        <button class="button button-{{color}}">.button-{{color}}</button>
        <button class="button button-outline button-{{color}}">.button-{{color}}</button>
        <button class="button button-clear button-{{color}}">.button-{{color}}</button>
      </div>
    </div>

    <h2>Red:</h2>
    <div ng-repeat="color in vm.classesRed">
      <div class="example">
        <button class="button button-{{color}}">.button-{{color}}</button>
        <button class="button button-outline button-{{color}}">.button-{{color}}</button>
        <button class="button button-clear button-{{color}}">.button-{{color}}</button>
      </div>
    </div>

    <h2>Blue:</h2>
    <div ng-repeat="color in vm.classesBlue">
      <div class="example">
        <button class="button button-{{color}}">.button-{{color}}</button>
        <button class="button button-outline button-{{color}}">.button-{{color}}</button>
        <button class="button button-clear button-{{color}}">.button-{{color}}</button>
      </div>
    </div>

    <h2>Green:</h2>
    <div ng-repeat="color in vm.classesGreen">
      <div class="example">
        <button class="button button-{{color}}">.button-{{color}}</button>
        <button class="button button-outline button-{{color}}">.button-{{color}}</button>
        <button class="button button-clear button-{{color}}">.button-{{color}}</button>
      </div>
    </div>

    <h2>Gray:</h2>
    <div ng-repeat="color in vm.classesGray">
      <div class="example">
        <button class="button button-{{color}}">.button-{{color}}</button>
        <button class="button button-outline button-{{color}}">.button-{{color}}</button>
        <button class="button button-clear button-{{color}}">.button-{{color}}</button>
      </div>
    </div>

    <h2>Pink:</h2>
    <div ng-repeat="color in vm.classesPink">
      <div class="example">
        <button class="button button-{{color}}">.button-{{color}}</button>
        <button class="button button-outline button-{{color}}">.button-{{color}}</button>
        <button class="button button-clear button-{{color}}">.button-{{color}}</button>
      </div>
    </div>

    <h2>Purple:</h2>
    <div ng-repeat="color in vm.classesPurple">
      <div class="example">
        <button class="button button-{{color}}">.button-{{color}}</button>
        <button class="button button-outline button-{{color}}">.button-{{color}}</button>
        <button class="button button-clear button-{{color}}">.button-{{color}}</button>
      </div>
    </div>
  </ion-content>
</ion-vew>
