<ion-view view-title="Bars">
  <ion-content padding="true">
    <h2>Bars documentation</h2>
    <p>It uses the same pattern of Ionic, the name of the color with `bar` as prefix</p>

    <h2>Yellow</h2>
    <div ng-repeat="yellowColor in vm.classesYellow">
      <div class="example">
        <div class="bar bar-header bar-{{yellowColor}}">
          <h1 class="title">.bar-{{yellowColor}}</h1>
        </div>
      </div>
    </div>

    <h2>Red:</h2>
    <div ng-repeat="redColor in vm.classesRed">
      <div class="example">
        <div class="bar bar-header bar-{{redColor}}">
          <h1 class="title">.bar-{{redColor}}</h1>
        </div>
      </div>
    </div>

    <h2>Blue:</h2>
    <div ng-repeat="blueColor in vm.classesBlue">
      <div class="example">
        <div class="bar bar-header bar-{{blueColor}}">
          <h1 class="title">.bar-{{blueColor}}</h1>
        </div>
      </div>
    </div>

    <h2>Orange:</h2>
    <div ng-repeat="orangeColor in vm.classesOrange">
      <div class="example">
        <div class="bar bar-header bar-{{orangeColor}}">
          <h1 class="title">.bar-{{orangeColor}}</h1>
        </div>
      </div>
    </div>

    <h2>Green:</h2>
    <div ng-repeat="greenColor in vm.classesGreen">
      <div class="example">
        <div class="bar bar-header bar-{{greenColor}}">
          <h1 class="title">.bar-{{greenColor}}</h1>
        </div>
      </div>
    </div>

    <h2>Gray:</h2>
    <div ng-repeat="grayColor in vm.classesGray">
      <div class="example">
        <div class="bar bar-header bar-{{grayColor}}">
          <h1 class="title">.bar-{{grayColor}}</h1>
        </div>
      </div>
    </div>

    <h2>Pink:</h2>
    <div ng-repeat="pinkColor in vm.classesPink">
      <div class="example">
        <div class="bar bar-header bar-{{pinkColor}}">
          <h1 class="title">.bar-{{pinkColor}}</h1>
        </div>
      </div>
    </div>

    <h2>Purple:</h2>
    <div ng-repeat="purpleColor in vm.classesPurple">
      <div class="example">
        <div class="bar bar-header bar-{{purpleColor}}">
          <h1 class="title">.bar-{{purpleColor}}</h1>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
