<ion-view view-title="Tabs">
  <ion-content padding="true">
    <h2>Tabs documentation</h2>
    <p>It uses the same pattern of Ionic, the name of the color with "tab" prefix</p>

    <h2>Yellow:</h2>
    <div ng-repeat="color in vm.classesYellow" class="doc-tabs example">
      <h4>.tabs-{{color}}</h4>
      <ion-tabs class="tabs-{{color}} tabs-icon-top">
        <ion-tab title="Home" icon="ion-home"></ion-tab>
        <ion-tab title="Favorites" icon="ion-android-favorite"></ion-tab>
        <ion-tab title="Settings" icon="ion-gear-a"></ion-tab>
      </ion-tabs>
    </div>

    <h2>Red:</h2>
    <div ng-repeat="color in vm.classesRed" class="doc-tabs example">
      <h4>.tabs-{{color}}</h4>
      <ion-tabs class="tabs-{{color}} tabs-icon-top">
        <ion-tab title="Home" icon="ion-home"></ion-tab>
        <ion-tab title="Favorites" icon="ion-android-favorite"></ion-tab>
        <ion-tab title="Settings" icon="ion-gear-a"></ion-tab>
      </ion-tabs>
    </div>

    <h2>Blue:</h2>
    <div ng-repeat="color in vm.classesBlue" class="doc-tabs example">
      <h4>.tabs-{{color}}</h4>
      <ion-tabs class="tabs-{{color}} tabs-icon-top">
        <ion-tab title="Home" icon="ion-home"></ion-tab>
        <ion-tab title="Favorites" icon="ion-android-favorite"></ion-tab>
        <ion-tab title="Settings" icon="ion-gear-a"></ion-tab>
      </ion-tabs>
    </div>

    <h2>Orange:</h2>
    <div ng-repeat="color in vm.classesOrange" class="doc-tabs example">
      <h4>.tabs-{{color}}</h4>
      <ion-tabs class="tabs-{{color}} tabs-icon-top">
        <ion-tab title="Home" icon="ion-home"></ion-tab>
        <ion-tab title="Favorites" icon="ion-android-favorite"></ion-tab>
        <ion-tab title="Settings" icon="ion-gear-a"></ion-tab>
      </ion-tabs>
    </div>

    <h2>Gray:</h2>
    <div ng-repeat="color in vm.classesGray" class="doc-tabs example">
      <h4>.tabs-{{color}}</h4>
      <ion-tabs class="tabs-{{color}} tabs-icon-top">
        <ion-tab title="Home" icon="ion-home"></ion-tab>
        <ion-tab title="Favorites" icon="ion-android-favorite"></ion-tab>
        <ion-tab title="Settings" icon="ion-gear-a"></ion-tab>
      </ion-tabs>
    </div>

    <h2>Green:</h2>
    <div ng-repeat="color in vm.classesGreen" class="doc-tabs example">
      <h4>.tabs-{{color}}</h4>
      <ion-tabs class="tabs-{{color}} tabs-icon-top">
        <ion-tab title="Home" icon="ion-home"></ion-tab>
        <ion-tab title="Favorites" icon="ion-android-favorite"></ion-tab>
        <ion-tab title="Settings" icon="ion-gear-a"></ion-tab>
      </ion-tabs>
    </div>

    <h2>Pink:</h2>
    <div ng-repeat="color in vm.classesPink" class="doc-tabs example">
      <h4>.tabs-{{color}}</h4>
      <ion-tabs class="tabs-{{color}} tabs-icon-top">
        <ion-tab title="Home" icon="ion-home"></ion-tab>
        <ion-tab title="Favorites" icon="ion-android-favorite"></ion-tab>
        <ion-tab title="Settings" icon="ion-gear-a"></ion-tab>
      </ion-tabs>
    </div>

    <h2>Purple:</h2>
    <div ng-repeat="color in vm.classesPurple" class="doc-tabs example">
      <h4>.tabs-{{color}}</h4>
      <ion-tabs class="tabs-{{color}} tabs-icon-top">
        <ion-tab title="Home" icon="ion-home"></ion-tab>
        <ion-tab title="Favorites" icon="ion-android-favorite"></ion-tab>
        <ion-tab title="Settings" icon="ion-gear-a"></ion-tab>
      </ion-tabs>
    </div>
  </ion-content>
</ion-view>
