$sanMarino: #446CB3;
$aliceBlue: #E4F1FE;
$royalBlue: #4183D7;
$pictonBlue: #59ABE3;
$spray: #81CFE0;
$shakespeare: #52B3D9;
$hummingBird: #C5EFF7;
$pictonTwoBlue: #22A7F0;
$curiousBlue: #3498DB;
$madison: #2C3E50;
$dodgerBlue: #19B5FE;
$ming: #336E7B;
$ebonyClay: #22313F;
$malibu: #6BB9F0;
$summerSky: #1E8BC3;
$chambray: #3A539B;
$pickledBluewood: #34495E;
$hoki: #67809F;
$jellyBean: #2574A9;
$jacksonsPurple: #1F3A93;
$jordyBlue: #89C4F4;
$steelBlue: #4B77BE;
$fountainBlue: #5C97BF;
