$blues: (
  alice-blue: #E4F1FE,
  chambray: #3A539B,
  curious-blue: #3498DB,
  dodger-blue: #19B5FE,
  ebony-clay: #22313F,
  fountain-blue: #5C97BF,
  hoki: #67809F,
  humming-bird: #C5EFF7,
  jacksons-purple: #1F3A93,
  jelly-bean: #2574A9,
  jordy-blue: #89C4F4,
  madison: #2C3E50,
  malibu: #6BB9F0,
  ming: #336E7B,
  pickled-bluewood: #34495E,
  picton-blue: #59ABE3,
  picton-blue-two: #22A7F0,
  royal-blue: #4183D7,
  san-marino: #446CB3,
  shakespeare: #52B3D9,
  spray: #81CFE0,
  steel-blue: #4B77BE,
  summer-sky: #1E8BC3
);