$whiteSmoke: #ECECEC;
$lynch: #6C7A89;
$pumice: #D2D7D3;
$gallery: #EEEEEE;
$silverSand: #BDC3C7;
$porcelain: #ECF0F1;
$cascade: #95A5A6;
$iron: #DADFE1;
$edward: #ABB7B7;
$cararra: #F2F1EF;
$silver: #BFBFBF;

$dark: #444444;
$white: #FFFFFF;
