$whiteSmoke: #ECECEC;
$lynch: #6C7A89;
$pumice: #D2D7D3;
$gallery: #EEEEEE;
$silverSand: #BDC3C7;
$porcelain: #ECF0F1;
$cascade: #95A5A6;
$iron: #DADFE1;
$edward: #ABB7B7;
$cararra: #F2F1EF;
$silver: #BFBFBF;

$dark: #333333;
$white: #FFFFFF;

// Darken

$whiteSmoke-d10: darken($whiteSmoke, 10%);
$lynch-d10: darken($lynch, 10%);
$pumice-d10: darken($pumice, 10%);
$gallery-d10: darken($gallery, 10%);
$silverSand-d10: darken($silverSand, 10%);
$porcelain-d10: darken($porcelain, 10%);
$cascade-d10: darken($cascade, 10%);
$iron-d10: darken($iron, 10%);
$edward-d10: darken($edward, 10%);
$cararra-d10: darken($cararra, 10%);
$silver-d10: darken($silver, 10%);
