$dark: #333333;
$white: #FFFFFF;

$grays: (
  cascade: #95A5A6,
  cararra: #F2F1EF,
  edward: #ABB7B7,
  gallery: #EEEEEE,
  iron: #DADFE1,
  lynch: #6C7A89,
  porcelain: #ECF0F1,
  pumice: #D2D7D3,
  silver: #BFBFBF,
  silver-sand: #BDC3C7,
  white-smoke: #ECECEC
);