$greens: (
  aqua-island: #A2DED0,
  caribbean-green: #03C9A9,
  dark-sea-green: #90C695,
  downy: #65C6BB,
  esmerald: #3FC380,
  eucalyptus: #26A65B,
  free-speech-aquamarine: #03A678,
  gossip: #87D37C,
  green-haze: #019875,
  jade: #00B16A,
  jungle-green: #26C281,
  light-sea-green: #1BA39C,
  madang: #C8F7C5,
  medium-aquamarine: #66CC99,
  medium-turquoise: #4ECDC4,
  mountain-meadow: #1BBC9B,
  niagara: #16A085,
  niagara-one: #2ABB9B,
  observatory: #049372,
  ocean-green: #4DAF7C,
  riptide: #86E2D5,
  shamrock: #2ECC71,
  salem: #1E824C,
  silver-tree: #68C3A3,
  turquoise: #36D7B7
);
