$mediumTurquoise: #4ECDC4;
$aquaIsland: #A2DED0;
$gossip: #87D37C;
$darkSeaGreen: #90C695;
$eucalyptus: #26A65B;
$caribbeanGreen: #03C9A9;
$silverTree: #68C3A3;
$downy: #65C6BB;
$mountainMeadow: #1BBC9B;
$lightSeaGreen: #1BA39C;
$mediumAquamarine: #66CC99;
$turquoise: #36D7B7;
$madang: #C8F7C5;
$riptide: #86E2D5;
$shamrock: #2ECC71;
$niagara: #16A085;
$esmerald: #3FC380;
$greenHaze: #019875;
$freeSpeechAquamarine: #03A678;
$oceanGreen: #4DAF7C;
$niagaraOne: #2ABB9B;
$jade: #00B16A;
$salem: #1E824C;
$observatory: #049372;
$jungleGreen: #26C281;

// Daken

$mediumTurquoise-d10: darken($mediumTurquoise, 10%);
$aquaIsland-d10: darken($aquaIsland, 10%);
$gossip-d10: darken($gossip, 10%);
$darkSeaGreen-d10: darken($darkSeaGreen, 10%);
$eucalyptus-d10: darken($eucalyptus, 10%);
$caribbeanGreen-d10: darken($caribbeanGreen, 10%);
$silverTree-d10: darken($silverTree, 10%);
$downy-d10: darken($downy, 10%);
$mountainMeadow-d10: darken($mountainMeadow, 10%);
$lightSeaGreen-d10: darken($lightSeaGreen, 10%);
$mediumAquamarine-d10: darken($mediumAquamarine, 10%);
$turquoise-d10: darken($turquoise, 10%);
$madang-d10: darken($madang, 10%);
$riptide-d10: darken($riptide, 10%);
$shamrock-d10: darken($shamrock, 10%);
$niagara-d10: darken($niagara, 10%);
$esmerald-d10: darken($esmerald, 10%);
$greenHaze-d10: darken($greenHaze, 10%);
$freeSpeechAquamarine-d10: darken($freeSpeechAquamarine, 10%);
$oceanGreen-d10: darken($oceanGreen, 10%);
$niagaraOne-d10: darken($niagaraOne, 10%);
$jade-d10: darken($jade, 10%);
$salem-d10: darken($salem, 10%);
$observatory-d10: darken($observatory, 10%);
$jungleGreen-d10: darken($jungleGreen, 10%);
