$greens: (
	medium-turquoise: #4ECDC4,
	aqua-island: #A2DED0,
	gossip: #87D37C,
	dark-sea-green: #90C695,
	eucalyptus: #26A65B,
	caribbean-green: #03C9A9,
	silver-tree: #68C3A3,
	downy: #65C6BB,
	mountain-meadow: #1BBC9B,
	light-sea-green: #1BA39C,
	medium-aquamarine: #66CC99,
	turquoise: #36D7B7,
	madang: #C8F7C5,
	riptide: #86E2D5,
	shamrock: #2ECC71,
	niagara: #16A085,
	esmerald: #3FC380,
	green-haze: #019875,
	free-speech-aquamarine: #03A678,
	ocean-green: #4DAF7C,
	niagara-one: #2ABB9B,
	jade: #00B16A,
	salem: #1E824C,
	observatory: #049372,
	jungle-green: #26C281
);
