$confetti: #E9D460;
$capeHoney: #FDE3A7;
$california: #F89406;
$fireBush: #EB9532;
$tahitiGold: #E87E04;
$casablanca: #F4B350;
$crusta: #F2784B;
$seaBuckthorn: #EB974E;
$lightningYellow: #F5AB35;
$burntOrange: #D35400;
$buttercup: #F39C12;
$ecstasy: #F9690E;
$sandstorm: #F9BF3B;
$jaffa: #F27935;
$zest: #E67E22;

// Darken

$confetti-d10: darken($confetti, 10%);
$capeHoney-d10: darken($capeHoney, 10%);
$california-d10: darken($california, 10%);
$fireBush-d10: darken($fireBush, 10%);
$tahitiGold-d10: darken($tahitiGold, 10%);
$casablanca-d10: darken($casablanca, 10%);
$crusta-d10: darken($crusta, 10%);
$seaBuckthorn-d10: darken($seaBuckthorn, 10%);
$lightningYellow-d10: darken($lightningYellow, 10%);
$burntOrange-d10: darken($burntOrange, 10%);
$buttercup-d10: darken($buttercup, 10%);
$ecstasy-d10: darken($ecstasy, 10%);
$sandstorm-d10: darken($sandstorm, 10%);
$jaffa-d10: darken($jaffa, 10%);
$zest-d10: darken($zest, 10%);
