$oranges: (
	confetti: #E9D460,
	cape-honey: #FDE3A7,
	california: #F89406,
	fire-bush: #EB9532,
	tahiti-gold: #E87E04,
	casablanca: #F4B350,
	crusta: #F2784B,
	sea-buckthorn: #EB974E,
	lightning-yellow: #F5AB35,
	burnt-orange: #D35400,
	buttercup: #F39C12,
	ecstasy: #F9690E,
	sandstorm: #F9BF3B,
	jaffa: #F27935,
	zest: #E67E22
);