$confetti: #E9D460;
$capeHoney: #FDE3A7;
$california: #F89406;
$fireBush: #EB9532;
$tahitiGold: #E87E04;
$casablanca: #F4B350;
$crusta: #F2784B;
$seaBuckThorn: #EB974E;
$lightningYellow: #F5AB35;
$burntOrange: #D35400;
$butterCup: #F39C12;
$ecstasy: #F9690E;
$sandstorm: #F9BF3B;
$jaffa: #F27935;
$zest: #E67E22;
