$razzmatazz: #DB0A5B;
$sunsetOrange: #DB0A5B;
$waxFlower: #F1A9A0;
$cabaret: #D2527F;
$newYorkPink: #E08283;
$radicalRed: #F62459;
$sunglo: #E26A6A;

// Darken

$razzmatazz-d10: darken($razzmatazz, 10%);
$sunsetOrange-d10: darken($sunsetOrange, 10%);
$waxFlower-d10: darken($waxFlower, 10%);
$cabaret-d10: darken($cabaret, 10%);
$newYorkPink-d10: darken($newYorkPink, 10%);
$radicalRed-d10: darken($radicalRed, 10%);
$sunglo-d10: darken($sunglo, 10%);
