$snuff: #DCC6E0;
$rebeccaPurple: #663399;
$honeyFlower: #674172;
$wistful: #AEA8D3;
$plum: #913D88;
$seance: #9A12B3;
$mediumPurple: #BF55EC;
$lightWisteria: #BE90D4;
$studio: #8E44AD;
$wisteria: #9B59B6;


// Darken

$snuff-d10: darken($snuff, 10%);
$rebeccaPurple-d10: darken($rebeccaPurple, 10%);
$honeyFlower-d10: darken($honeyFlower, 10%);
$wistful-d10: darken($wistful, 10%);
$plum-d10: darken($plum, 10%);
$seance-d10: darken($seance, 10%);
$mediumPurple-d10: darken($mediumPurple, 10%);
$lightWisteria-d10: darken($lightWisteria, 10%);
$studio-d10: darken($studio, 10%);
$wisteria-d10: darken($wisteria, 10%);
