/*
 * Flat colors used on this lib. I'd like to thanks to
 * vbaimas (http://www.vbaimas.com/) to share this colors on
 * his web page.
 */

$snuff: #DCC6E0;
$rebeccaPurple: #663399;
$honeyFlower: #674172;
$wistful: #AEA8D3;
$plum: #913D88;
$seance: #9A12B3;
$mediumPurple: #BF55EC;
$lightWisteria: #BE90D4;
$studio: #8E44AD;
$wisteria: #9B59B6;

