$purples: (
  honey-flower: #674172,
  light-wisteria: #BE90D4,
  medium-purple: #BF55EC,
  plum: #913D88,
  rebecca-purple: #663399,
  seance: #9A12B3,
  snuff: #DCC6E0,
  studio: #8E44AD,
  wisteria: #9B59B6,
  wistful: #AEA8D3
);