$chestnutRose: #D24D57;
$pomegranate: #F22613;
$thunderbird: #D91E18;
$oldBrick: #96281B;
$flamingo: #EF4836;
$valencia: #D64541;
$tallPoppy: #C0392B;
$monza: #CF000F;
$cinnabar: #E74C3C;

// Darken colors

$chestnutRose-d10: darken($chestnutRose, 10%);
$pomegranate-d10: darken($pomegranate, 10%);
$thunderbird-d10: darken($thunderbird, 10%);
$oldBrick-d10: darken($oldBrick, 10%);
$flamingo-d10: darken($flamingo, 10%);
$valencia-d10: darken($valencia, 10%);
$tallPoppy-d10: darken($tallPoppy, 10%);
$monza-d10: darken($monza, 10%);
$cinnabar-d10: darken($cinnabar, 10%);
