$reds: (
	chestnut-rose: #D24D57,
	pomegranate: #F22613,
	thunderbird: #D91E18,
	old-brick: #96281B,
	flamingo: #EF4836,
	valencia: #D64541,
	tall-poppy: #C0392B,
	monza: #CF000F,
	cinnabar: #E74C3C
);