$reds: (
  cinnabar: #E74C3C,
  chestnut-rose: #D24D57,
  flamingo: #EF4836,
  old-brick: #96281B,
  monza: #CF000F,
  pomegranate: #F22613,
  tall-poppy: #C0392B,
  thunderbird: #D91E18,
  valencia: #D64541
);