<ion-view view-title="Checkboxes">
  <ion-content padding="true">
    <h1>Checkboxes documentation</h1>
    <p>It uses the same pattern of Ionic, the name of the color with `bar` as prefix</p>

    <h2>Yellow:</h2>
    <ion-list ng-repeat="color in vm.classesYellow">
      <ion-checkbox ng-checked="true" class="checkbox-{{color}}">
        .checkbox-{{color}}
      </ion-checkbox>
    </ion-list>

    <h2>Red:</h2>
    <ion-list ng-repeat="color in vm.classesRed">
      <ion-checkbox ng-checked="true" class="checkbox-{{color}}">
        .checkbox-{{color}}
      </ion-checkbox>
    </ion-list>

    <h2>Blue:</h2>
    <ion-list ng-repeat="color in vm.classesBlue">
      <ion-checkbox ng-checked="true" class="checkbox-{{color}}">
        .checkbox-{{color}}
      </ion-checkbox>
    </ion-list>

    <h2>Green:</h2>
    <ion-list ng-repeat="color in vm.classesGreen">
      <ion-checkbox ng-checked="true" class="checkbox-{{color}}">
        .checkbox-{{color}}
      </ion-checkbox>
    </ion-list>

    <h2>Gray:</h2>
    <ion-list ng-repeat="color in vm.classesGray">
      <ion-checkbox ng-checked="true" class="checkbox-{{color}}">
        .checkbox-{{color}}
      </ion-checkbox>
    </ion-list>

    <h2>Pink:</h2>
    <ion-list ng-repeat="color in vm.classesPink">
      <ion-checkbox ng-checked="true" class="checkbox-{{color}}">
        .checkbox-{{color}}
      </ion-checkbox>
    </ion-list>

    <h2>Purple:</h2>
    <ion-list ng-repeat="color in vm.classesPurple">
      <ion-checkbox ng-checked="true" class="checkbox-{{color}}">
        .checkbox-{{color}}
      </ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>
