/*
 * Flat colors used on this lib. I'd like to thanks to
 * vbaimas (http://www.vbaimas.com/) to share this colors on
 * his web page.
 */

/*
 * PINK: Flat pink colors 
 */

$razzmatazz: #DB0A5B;
$sunsetOrange: #DB0A5B;
$waxFlower: #F1A9A0;
$cabaret: #D2527F;
$newYorkPink: #E08283;
$radicalRed: #F62459;
$sunglo: #E26A6A;

