<ion-view view-title="Toggles">
  <ion-content padding="true">
    <h2>Toggles documentation</h2>
    <p>It uses the same pattern of Ionic, the name of the color with "toggle" as prefix</p>

    <ion-list>
      <ion-item class="item-divider">Yellow</ion-item>
      <ion-item class="item item-toggle" ng-repeat="color in vm.classesYellow">
        <h2>.toggle-{{color}}</h2>
        <label class="toggle toggle-{{color}}">
          <input type="checkbox" ng-checked="true">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">Red</ion-item>
      <ion-item class="item item-toggle" ng-repeat="color in vm.classesRed">
        <h2>.toggle-{{color}}</h2>
        <label class="toggle toggle-{{color}}">
          <input type="checkbox" ng-checked="true">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">Blue</ion-item>
      <ion-item class="item item-toggle" ng-repeat="color in vm.classesBlue">
        <h2>.toggle-{{color}}</h2>
        <label class="toggle toggle-{{color}}">
          <input type="checkbox" ng-checked="true">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">Green</ion-item>
      <ion-item class="item item-toggle" ng-repeat="color in vm.classesGreen">
        <h2>.toggle-{{color}}</h2>
        <label class="toggle toggle-{{color}}">
          <input type="checkbox" ng-checked="true">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">Gray</ion-item>
      <ion-item class="item item-toggle" ng-repeat="color in vm.classesGray">
        <h2>.toggle-{{color}}</h2>
        <label class="toggle toggle-{{color}}">
          <input type="checkbox" ng-checked="true">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">Pink</ion-item>
      <ion-item class="item item-toggle" ng-repeat="color in vm.classesPink">
        <h2>.toggle-{{color}}</h2>
        <label class="toggle toggle-{{color}}">
          <input type="checkbox" ng-checked="true">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">Purple</ion-item>
      <ion-item class="item item-toggle" ng-repeat="color in vm.classesPurple">
        <h2>.toggle-{{color}}</h2>
        <label class="toggle toggle-{{color}}">
          <input type="checkbox" ng-checked="true">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
