<ion-view view-title="Colors">
  <ion-content padding="true">
    <h2>Colors documentation</h2>
    <p>This is the name of the colors used in this project</p>

    <h2>Yellow</h2>
    <div ng-repeat="color in vm.classesYellow">
      <div class="example color">{{color}}</div>
    </div>

    <h2>Red</h2>
    <div ng-repeat="color in vm.classesRed">
      <div class="example color">{{color}}</div>
    </div>

    <h2>Blue</h2>
    <div ng-repeat="color in vm.classesBlue">
      <div class="example color">{{color}}</div>
    </div>

    <h2>Green</h2>
    <div ng-repeat="color in vm.classesGreen">
      <div class="example color">{{color}}</div>
    </div>

    <h2>Gray</h2>
    <div ng-repeat="color in vm.classesGray">
      <div class="example color">{{color}}</div>
    </div>

    <h2>Pink</h2>
    <div ng-repeat="color in vm.classesPink">
      <div class="example color">{{color}}</div>
    </div>

    <h2>Purple</h2>
    <div ng-repeat="color in vm.classesPurple">
      <div class="example color">{{color}}</div>
    </div>
  </ion-content>
</ion-view>
