<ion-view view-title="Ionic Flat Colors">
  <ion-content padding="true">
    <h1>Ionic Flat Colors</h1>
    <h2>Why this has been created?</h2>
    <p>
      I created this project to help devs that like me are not so good with design.
    </p>
    <p>
      Ionic is a great framework to develop hybrid apps, it already came with
      some colors by default, but sometimes you need to customize the colors and 
      flat colors are very good to be used in apps. 
    </p>
    <p>
      Every time I start an app with Ionic I search on internet some flat color
      palettes to use and after some searchs I found an website of a designer called
      "vbaimas", by the way I want to thanks him for his work, this project is all
      based on his flat colors website called "http://www.flatuicolorpicker.com/".
      Thanks Vbaimas for you work.
    </p>
    <h2>So what is Ionic Flat Colors?</h2>
    <p>
      The Ionic Flat Colors is an expansion for the Ionic components. This IFC
      (Ionic Flat Colors) give new option of colors for Ionic components, flat colors
      that you can use and customize your app.
    </p>
    <h2>How can I start to use it?</h2>
    <p>
      To use Ionic Flat Colors is very simple, you just need to download the
      distribution version of the lib and add it in your project after the ionic
      css in your index file. After that you can use all of the classes with the
      flat colors.
    </p>
    <h2>
      I already have a project, does it mess up the ionic classes I alredy using?
    </h2>
    <p>
      No, this project doesn't change the Ionic default colors, it just add 
      new options for you
    </p>
  </ion-content>
</ion-view>
