@import 'bar.accentmap';

.bar {
  &.bar-#{$name} {
    $accentColorName: map_get($barAccentMap, $name);
    $accentColor: map_get($colorset, $accentColorName);
    $contrastingColor: get-contrasting-text-color($color);
    @include bar-style($color, $accentColor, $contrastingColor);
    .bar-footer {
      background-image: linear-gradient(180deg, $accentColor, $accentColor 50%, transparent 50%);
    }
    .button {
      @include button-style($color, $contrastingColor);
      @include button-clear($contrastingColor, $bar-title-font-size);
    }
  }
}