// Associative array of colors
$barAccentMap: (
  // Blues
  alice-blue: humming-bird,
  chambray: steel-blue,
  curious-blue: picton-blue,
  dodger-blue: shakespeare,
  ebony-clay: madison,
  fountain-blue: jelly-bean,
  hoki: pickled-bluewood,
  humming-bird: alice-blue,
  jacksons-purple: chambray,
  jelly-bean: malibu,
  jordy-blue: hoki,
  madison: ming,
  malibu: curious-blue,
  ming: madison,
  pickled-bluewood: hoki,
  picton-blue: curious-blue,
  picton-blue-two: curious-blue,
  royal-blue: san-marino,
  shakespeare: spray,
  san-marino: royal-blue,
  spray: shakespeare,
  steel-blue: chambray,
  summer-sky: malibu,
  // Greys
  cararra: silver-sand,
  cascade: lynch,
  edward: iron,
  gallery: iron,
  iron: pumice,
  lynch: pumice,
  porcelain: white-smoke,
  pumice: silver,
  silver: lynch,
  silver-sand: cararra,
  white-smoke: pumice,
  // Greens
  aqua-island: medium-turquoise,
  caribbean-green: silver-tree,
  dark-sea-green: ocean-green,
  downy: riptide,
  esmerald: shamrock,
  eucalyptus: gossip,
  free-speech-aquamarine: ocean-green,
  gossip: dark-sea-green,
  green-haze: niagara,
  jade: esmerald,
  jungle-green: shamrock,
  light-sea-green: downy,
  madang: gossip,
  medium-aquamarine: silver-tree,
  medium-turquoise: aqua-island,
  mountain-meadow: riptide,
  niagara-one: niagara,
  observatory: green-haze,
  ocean-green: jade,
  niagara: green-haze,
  riptide: downy,
  salem: jade,
  silver-tree: caribbean-green,
  shamrock: esmerald,
  turquoise: caribbean-green,
  // Orange
  burnt-orange: ecstasy,
  buttercup: fire-bush,
  california: confetti,
  cape-honey: cape-honey,
  casablanca: confetti,
  confetti: cape-honey,
  crusta: jaffa,
  ecstasy: burnt-orange,
  fire-bush: casablanca,
  jaffa: sea-buckthorn,
  lightning-yellow: sandstorm,
  sandstorm: casablanca,
  sea-buckthorn: jaffa,
  tahiti-gold: california,
  zest: california,
  // Pink
  cabaret: razzmatazz,
  new-york-pink: sunglo,
  radical-red: cabaret,
  razzmatazz: cabaret,
  sunglo: wax-flower,
  sunset-orange: sunglo,
  wax-flower: sunglo,
  // Purple
  honey-flower: plum,
  light-wisteria: snuff,
  medium-purple: light-wisteria,
  plum: wisteria,
  seance: studio,
  snuff: light-wisteria,
  studio: wisteria,
  rebecca-purple: honey-flower,
  wisteria: plum,
  wistful: light-wisteria,
  // Red
  chestnut-rose: valencia,
  cinnabar: tall-poppy,
  flamingo: tall-poppy,
  monza: cinnabar,
  old-brick: chestnut-rose,
  pomegranate: thunderbird,
  tall-poppy: cinnabar,
  thunderbird: old-brick,
  valencia: old-brick,
  // Yellow
  cream-can: saffron,
  ripe-lemon: cream-can,
  saffron: ripe-lemon
);